<% status = @user.send("expand_#{number}_clicked")
if status != nil && !status.even?
  expand = "expanded"
else
  expand = ""
end
%>

<div id="<%= give_div_a_name("actions#{@number}") %>" class="actions" style="border: none;">
  <div id="<%= give_div_a_name("expand#{@number}") %><%= expand %>" class="expand" 
    onclick="<%= remote_function(:url => {:action => "expand_message", :id => @user.id, :number => @number}) %>
    change_button(this.id)  //change to collapse/expand;
    change_button(this.parentNode.id) //change actions;
    expand_buttons(this.parentNode.id) //change buttons; 
    change_button(this.parentNode.parentNode.id) //change message"
    onmouseover="<%= remote_function(:url => {:action => :start_measure, :type => "open_time_m#{number}"}) %>"
    onmouseout="<%= remote_function( :url => {:action => :end_measure, :type => "open_time_m#{number}"}) %>">
  </div>

  <div id = "<%= give_div_a_name("reply#{@number}") %><%= expand %>" class="reply"
    onclick="<%= remote_function(:url => {:action => "reply#{@number}", :id => @user.id, :number => @number}) %>"
    onmouseover="<%= remote_function( :url => {:action => :start_measure, :type => "reply_time_m#{number}"}) %>"
    onmouseout="<%= remote_function( :url => {:action => :end_measure, :type => "reply_time_m#{number}"}) %>">
  </div>

  <div id ="<%= give_div_a_name("retweet#{@number}") %><%= expand %>" class="retweet"
    onclick="<%= remote_function(
            :url => {:action => "record_and_flip_corner", :id => @user.id, :number => @number, :action_type => "retweet"}) %>
    change_button(this.id);"
    onmouseover="<%= remote_function( :url => {:action => :start_measure, :type => "retweet_time_m#{number}"}) %>"
    onmouseout="<%= remote_function( :url => {:action => :end_measure, :type => "retweet_time_m#{number}"}) %>">
  </div>

  <div id = "<%= give_div_a_name("favorite#{@number}") %><%= expand %>" class="favorite"    
    onclick="<%= remote_function(
            :url => {:action => "record_and_flip_corner", :id => @user.id, :number => @number, :action_type => "favorite" }) %>
    change_button(this.id);"
    onmouseover="<%= remote_function( :url => {:action => :start_measure, :type => "favorite_time_m#{number}"}) %>"
    onmouseout="<%= remote_function( :url => {:action => :end_measure, :type => "favorite_time_m#{number}"}) %>">
  </div>
</div>
