<% 
if @message_commands
    expand = ""
    grey = "_g"
    visible = "none"
else
  expand = "expand"
  grey = ""
  visible = "block"
end
%>
<%if @number == 2
  number = 2
else
  number = 1
end
%>


<div id="actions<%=@number%>" class="actions" style="display:<%=visible%>;">

  <%if @message_commands %>   
            <div id="expand<%=@number%>" class="expand" 
                 onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "open_time_m#{number}"}) %>"
                 onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "open_time_m#{number}"}) %>"
                 
            >
              <%= link_to_remote image_tag('../images/open_einzeln_g.png',
                  :mouseover => '../images/open_unterstrichen_g.png'),
                  :url => {:action => "expand_message", :id => @user.id,  :number => @number}
              %>
            </div>
  <% else %>
            <div id="collapse<%=@number%>" class="collapse"
               onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "open_time_m#{number}"}) %>"
               onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "open_time_m#{number}"}) %>"
               >
               <%= link_to_remote image_tag('../images/collapse_einzeln.png',
                :mouseover => '../images/collapse_unterstrichen.png'),
                :url => {:action => "close", :id => @user.id, :number => @number}
                %>
            </div>
  <% end %>
 

 <div id = "reply<%=expand%><%=number%>" class="reply"    
    onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "reply_time_m#{number}"}) %>"
    onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "reply_time_m#{number}"}) %>"
    >
  <%= link_to_remote image_tag("../images/reply_einzeln#{grey}.png",
       :mouseover => "../images/reply_unterstrichen#{grey}.png"),
       :url => {:action => "reply#{@number}", :id => @user.id,   :number => number}
  %>

 </div>
 <div id = "retweet<%=expand %><%= number %>" class="retweet"    
    onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "retweet_time_m#{number}"}) %>"
    onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "retweet_time_m#{number}"}) %>"
    >
<%=  if number == 2
        if ((@user.retweet_2_clicked==nil)||(@user.retweet_2_clicked.even?))
            link_to_remote image_tag("../images/retweet_einzeln#{grey}.png",
            :mouseover => "../images/retweet_unterstrichen#{grey}.png", :id => "retweet_picture_#{expand}#{number}"),
            :url => {:action => "retweet#{number}", :id => @user.id, :number => number}
        else
            link_to_remote image_tag("../images/retweet_clicked#{grey}.png",
            :mouseover => "../images/retweet_unterstrichen_clicked#{grey}.png", :id => "retweet_picture_#{expand}#{number}"),
            :url => {:action => "retweet#{number}", :id => @user.id, :number => number}
         end
    else
        if ((@user.retweet_1_clicked==nil)||(@user.retweet_1_clicked.even?))
            link_to_remote image_tag("../images/retweet_einzeln#{grey}.png",
            :mouseover => "../images/retweet_unterstrichen#{grey}.png", :id => "retweet_picture_#{expand}#{number}"),
            :url => {:action => "retweet#{number}", :id => @user.id, :number => number}
        else
            link_to_remote image_tag("../images/retweet_clicked#{grey}.png",
            :mouseover => "../images/retweet_unterstrichen_clicked#{grey}.png", :id => "retweet_picture_#{expand}#{number}"),
            :url => {:action => "retweet#{number}", :id => @user.id, :number => number}
         end
  end
  %>
 </div>
  
 <div id = "favorite<%=expand %><%= number %>" class="favorite"    
    onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "favorite_time_m#{number}"}) %>"
    onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "favorite_time_m#{number}"}) %>"
    >
<%= if number ==2
        if ((@user.favorite_2_clicked==nil)||(@user.favorite_2_clicked.even?))
            link_to_remote image_tag("../images/favorite_einzeln#{grey}.png",
            :mouseover => "../images/favorite_unterstrichen#{grey}.png", :id => "favorite_picture_#{expand}#{number}"),
            :url => {:action => "favorite#{number}", :id => @user.id, :number => number}
        else
            link_to_remote image_tag("../images/favorite_clicked#{grey}.png",
            :mouseover => "../images/favorite_unterstrichen_clicked#{grey}.png", :id => "favorite_picture_#{expand}#{number}"),
            :url => {:action => "favorite#{number}", :id => @user.id, :number => number}
        end
    else
        if ((@user.favorite_1_clicked==nil)||(@user.favorite_1_clicked.even?))
        link_to_remote image_tag("../images/favorite_einzeln#{grey}.png",
        :mouseover => "../images/favorite_unterstrichen#{grey}.png", :id => "favorite_picture_#{expand}#{number}"),
        :url => {:action => "favorite#{number}", :id => @user.id, :number => number}
        else
        link_to_remote image_tag("../images/favorite_clicked#{grey}.png",
        :mouseover => "../images/favorite_unterstrichen_clicked#{grey}.png", :id => "favorite_picture_#{expand}#{number}"),
        :url => {:action => "favorite#{number}", :id => @user.id, :number => number}
        end
    end
  %>
 </div>



           
</div>
  
 
  