
<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part II: Demographic Information</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
  


            
2/12 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.05,true,true) %>
            


</TD>

</TR>
</TABLE>

</p>
    
<hr>
  <h3>What is the highest level of education you have completed</h3>
  <%= select(:user, :bildung, EDUCATIONS) %>
<script type="text/javascript">
//<![CDATA[
 new Form.Element.Observer($('user_bildung'), 0.3, function(form, value){
      if (value == 9) {
       Effect.SlideDown('others_bildung')
      }
      else {
      document.getElementById('others_bildung').style.display='none';
      }
  });
//]]>
</script>

<div id = "others_bildung" style="display:none; left:20px, width:400px; height:40px;">
Please fill in your highest level of education here.
<%= f.text_field :bildung_text %>
</p>
</div>

</p>

<hr>
<p>
  <h3>What is your gender?</h3>
  <%= f.radio_button :geschlecht, 1 %>
  <%= f.label :female, "female" %>
  <%= f.radio_button :geschlecht, 0 %>
  <%= f.label :male, "male" %>
</p>
<hr>
<p>
  <h3>What is your age?</h3>
  <%= select(:user, :alter, AGES) %>
</p>
<hr>
<p>
  <h3>What is your current marital status?</h3>
  <%= f.radio_button :martial_status, 1 %>
  <%= f.label :divorced, "Divorced" %><br>
  <%= f.radio_button :martial_status, 2 %>
  <%= f.label :liiert, "In a relationship" %><br>
  <%= f.radio_button :martial_status, 3 %>
  <%= f.label :married, "Married" %><br>
  <%= f.radio_button :martial_status, 4 %>
  <%= f.label :seperated, "Seperated" %><br>
  <%= f.radio_button :martial_status, 5 %>
  <%= f.label :single, "Single" %><br>
  <%= f.radio_button :martial_status, 6 %>
  <%= f.label :widowed, "Widowed" %><br>
  <%= f.radio_button :martial_status, 7 %>
  <%= f.label :not, "Would rather not say" %><br>
</p>

<p>
  <h3>How many children under 16 years old live in your household?</h3>
  <%= f.radio_button :children, 1 %>
  <%= f.label :none, "None" %> <br>
  <%= f.radio_button :children, 2 %>
  <%= f.label :one, "1" %><br>
  <%= f.radio_button :children, 3 %>
  <%= f.label :two, "2" %><br>
  <%= f.radio_button :children, 4 %>
  <%= f.label :three, "3" %><br>
  <%= f.radio_button :children, 5 %>
  <%= f.label :four, "4 or more" %><br>
  <%= f.radio_button :children, 7 %>
  <%= f.label :not, "Would rather not say" %><br>
</p>
<hr>

<p>
  <h3>Where do you currently live?</h3>  
  <%= select(:user, :country, COUNTRIES) %>
</p>

<p>
  <h3>How long have you been living there?</h3>
  <%= f.radio_button :years, 1 %>
  <%= f.label :ayear, "Less than 1 year" %> <br>
  <%= f.radio_button :years, 2 %>
  <%= f.label :oneyear, "1-9 years" %><br>
  <%= f.radio_button :years, 3 %>
  <%= f.label :tenyear, "10-19 years" %><br>
  <%= f.radio_button :years, 4 %>
  <%= f.label :twentyyear, "20-29 years" %><br>
  <%= f.radio_button :years, 5 %>
  <%= f.label :thirtyyear, "30-39 years" %><br>
  <%= f.radio_button :years, 6 %>
  <%= f.label :moreforty, "More than 40 years" %><br>
  <%= f.radio_button :years, 7 %>
  <%= f.label :ever, "All my life" %>
</p>

<p>
  <h3>Which of the following best describes the area you live in?</h3>
  <%= f.radio_button :area, 1 %>
  <%= f.label :urban, "Urban" %> 
  <%= f.radio_button :area, 2 %>
  <%= f.label :suburban, "Suburban" %>
  <%= f.radio_button :area, 3 %>
  <%= f.label :rural, "Rural" %>
</p>
<hr>
<p>
  <h3>What is your current household income in U.S. dollars (per year)?</h3>
  <%= select(:user, :income, INCOMES) %>
</p>


<p>
  <h3>Which of the following categories best describes your primarily area of employment (regardless 
of your actual position)?</h3>
 
<%= select(:user, :employment, EMPLOYMENTS)  %> 

            <script type="text/javascript">
            //<![CDATA[
             new Form.Element.Observer($('user_employment'), 0.3, function(form, value){
                  if (value == 34) {
                   Effect.SlideDown('others_employment')
                  }
                  else {
                  document.getElementById('others_employment').style.display='none';
                  }
              });
            //]]>
            </script>
            
            <div id = "others_employment" style="display:none; left:20px, width:400px; height:40px;">
            Please fill in your primarily area of employment.
            <%= f.text_field :employment_text %>
            </div>
</p>

<script type="text/javascript">
//<![CDATA[
 new Form.Element.Observer($('user_employment'), 0.3, function(form, value){
      if (value > 4) {
       Effect.SlideDown('employment_sub_selection')
      }
      else {
      document.getElementById('employment_sub_selection').style.display='none';
      }
  });
//]]>
</script>

<div id="employment_sub_selection" style="display:none;">
  <%= render "employment_sub_selection", :f => f%>
</div>
<hr>
  <p>
  <h3>How frequently do you access the web from the following devices</h3>
  <table width="100%">
    <tr>
      <td></td>
      <td width="15%">Daily</td>
      <td width="15%">Several days a week</td>
      <td width="15%">Weekly</td>
      <td width="15%">Less than weekly</td>
    </tr>
   <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      
      <td>private netbook/laptop/PC</td>
      <td><%= f.radio_button :private_pc, 1 %></td>
      <td><%= f.radio_button :private_pc, 2 %></td>
      <td><%= f.radio_button :private_pc, 3 %></td>
      <td><%= f.radio_button :private_pc, 4 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
         
      <td>private mobile device</td>
      <td><%= f.radio_button :private_mobile, 1 %></td>
      <td><%= f.radio_button :private_mobile, 2 %></td>
      <td><%= f.radio_button :private_mobile, 3 %></td>
      <td><%= f.radio_button :private_mobile, 4 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      
      <td>Netbook/laptop/PC related to work</td>
      <td><%= f.radio_button :work_pc, 1 %></td>
      <td><%= f.radio_button :work_pc, 2 %></td>
      <td><%= f.radio_button :work_pc, 3 %></td>
      <td><%= f.radio_button :work_pc, 4 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
       
      <td>Mobile device related to work</td>
      <td><%= f.radio_button :work_mobile, 1 %></td>
      <td><%= f.radio_button :work_mobile, 2 %></td>
      <td><%= f.radio_button :work_mobile, 3 %></td>
      <td><%= f.radio_button :work_mobile, 4 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>Public Terminal (e.g. library, cybercafe, etc.)</td>
      <td><%= f.radio_button :public, 1 %></td>
      <td><%= f.radio_button :public, 2 %></td>
      <td><%= f.radio_button :public, 3 %></td>
      <td><%= f.radio_button :public, 4 %></td>
    </tr>
  </table>
<hr>