
<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part II: Demographic Information</h2>

</TD>


<TD ALIGN="RIGHT">
  


            
2/14 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.05,true,true) %>
            


</TD>

</TR>
</TABLE>

</p>
    
<hr>
  <h3 onMouseover="document.getElementById ('explanation_education').style.display='block';"  
      onMouseout="document.getElementById('explanation_education').style.display='none';">How old were you when you stopped your full-time education? </h3>
  <i>For more information place your cursor over the question.</i>
  <div id="explanation_education" style="display: none;">
    <br>
  Education may include one of the following: 
<ul style="padding-left: 30px;">
  <li>Grammar school</li>
  <li>High school or eqivalent</li>
  <li>Vocational/technical school</li>
  <li>College</li>
  <li>Bachelor`s degree</li>
  <li>Master`s degree</li>
  <li>Doctoral degree</li>
  <li>Professional degree (MC, JD, etc.)</li>
  <li>Other</li>
</ul>
      </div>
      <p><%= f.text_field :bildung, :size => 3, :maxlength => 2%> years</p>
       <%= f.check_box :bildung_still_study, :options => {}, :checked_value => "1", :unchecked_value => "0"%> I'm still studying.

<hr>
<p>
  <h3>What is your gender?</h3>
  <%= f.radio_button :geschlecht, 1 %>
  <%= f.label :female, "Female" %>
  <%= f.radio_button :geschlecht, 0 %>
  <%= f.label :male, "Male" %>
</p>
<hr>
<p>
  <h3>What year were you born?</h3>
  <%= f.text_field :alter, :size => 5, :maxlength => 4%>
</p>
<hr>
<p>
  <h3>What is your current marital status?</h3>
  <%= f.radio_button :martial_status, 1 %>
  <%= f.label :divorced, "Divorced" %><br>
  <%= f.radio_button :martial_status, 2 %>
  <%= f.label :liiert, "In a relationship" %><br>
  <%= f.radio_button :martial_status, 3 %>
  <%= f.label :married, "Married" %><br>
  <%= f.radio_button :martial_status, 4 %>
  <%= f.label :seperated, "Seperated" %><br>
  <%= f.radio_button :martial_status, 5 %>
  <%= f.label :single, "Single" %><br>
  <%= f.radio_button :martial_status, 6 %>
  <%= f.label :widowed, "Widowed" %><br>
  <%= f.radio_button :martial_status, 7 %>
  <%= f.label :not, "Would rather not say" %><br>
</p>

<p>
  <h3>How many children under 16 years old live in your household?</h3>
  <%= f.radio_button :children, 1 %>
  <%= f.label :none, "None" %> <br>
  <%= f.radio_button :children, 2 %>
  <%= f.label :one, "1" %><br>
  <%= f.radio_button :children, 3 %>
  <%= f.label :two, "2" %><br>
  <%= f.radio_button :children, 4 %>
  <%= f.label :three, "3" %><br>
  <%= f.radio_button :children, 5 %>
  <%= f.label :four, "4 or more" %><br>
  <%= f.radio_button :children, 6 %>
  <%= f.label :not, "Would rather not say" %><br>
</p>
<hr>

<p>
  <h3>Where do you currently live?</h3>  
  <%= select(:user, :country, COUNTRIES_D) %>
</p>

<p>
  <h3>How long have you been living there?</h3>
  <%= f.radio_button :years, 1 %>
  <%= f.label :ayear, "Less than 1 year" %> <br>
  <%= f.radio_button :years, 2 %>
  <%= f.label :oneyear, "1 - 9 years" %><br>
  <%= f.radio_button :years, 3 %>
  <%= f.label :tenyear, "10 - 19 years" %><br>
  <%= f.radio_button :years, 4 %>
  <%= f.label :twentyyear, "20 - 29 years" %><br>
  <%= f.radio_button :years, 5 %>
  <%= f.label :thirtyyear, "30 - 39 years" %><br>
  <%= f.radio_button :years, 6 %>
  <%= f.label :moreforty, "More than 40 years" %><br>
  <%= f.radio_button :years, 7 %>
  <%= f.label :ever, "All my life" %>
</p>

<p>
  <h3>Which of the following best describes the area you live in?</h3>
  <%= f.radio_button :area, 1 %>
  <%= f.label :urban, "Urban" %> 
  <%= f.radio_button :area, 2 %>
  <%= f.label :suburban, "Suburban" %>
  <%= f.radio_button :area, 3 %>
  <%= f.label :rural, "Rural" %>
</p>
<hr>
<!--<p>
  <h3>What is your current annual household income in U.S. dollars?</h3>
  <%= select(:user, :income, INCOMES) %>
</p>-->


<p>
  <h3>Which of the following categories best describes your primary area of employment (regardless 
of your actual position)?</h3>
 
<%= select(:user, :employment, EMPLOYMENTS)  %> 

            <script type="text/javascript">
            //<![CDATA[
             new Form.Element.Observer($('user_employment'), 0.3, function(form, value){
                  if (value == 35) {
                   Effect.SlideDown('others_employment')
                  }
                  else {
                  document.getElementById('others_employment').style.display='none';
                  }
              });
            //]]>
            </script>
            
            <div id = "others_employment" style="display:none; left:20px; width:400px; height:40px;">
            Please fill in your primarily area of employment.
            <%= f.text_field :employment_text %>
            </div>
</p>

<script type="text/javascript">
//<![CDATA[
 new Form.Element.Observer($('user_employment'), 0.3, function(form, value){
      if (value > 4) {
       Effect.SlideDown('employment_sub_selection')
      }
      else {
      document.getElementById('employment_sub_selection').style.display='none';
      }
  });
//]]>
</script>

<div id="employment_sub_selection" style="display:none;">
  <%= render "employment_sub_selection", :f => f%>
</div>
<hr>
  <p>
  <h3>How frequently do you access the web from the following devices?</h3>
  <table width="100%">
    <tr>
      <td></td>
      <td width="10%">Daily</td>
      <td width="10%">Several days a week</td>
      <td width="10%">Weekly</td>
      <td width="10%">Monthly</td>
      <td width="10%">Less than monthly</td>
      <td width="10%">Never</td>
    </tr>
   <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      
      <td>Private netbook/laptop/PC</td>
      <td><%= f.radio_button :private_pc, 1 %></td>
      <td><%= f.radio_button :private_pc, 2 %></td>
      <td><%= f.radio_button :private_pc, 3 %></td>
      <td><%= f.radio_button :private_pc, 4 %></td>
      <td><%= f.radio_button :private_pc, 5 %></td>
      <td><%= f.radio_button :private_pc, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
         
      <td>Private mobile device</td>
      <td><%= f.radio_button :private_mobile, 1 %></td>
      <td><%= f.radio_button :private_mobile, 2 %></td>
      <td><%= f.radio_button :private_mobile, 3 %></td>
      <td><%= f.radio_button :private_mobile, 4 %></td>
      <td><%= f.radio_button :private_mobile, 5 %></td>
      <td><%= f.radio_button :private_mobile, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      
      <td>Netbook/laptop/PC related to work</td>
      <td><%= f.radio_button :work_pc, 1 %></td>
      <td><%= f.radio_button :work_pc, 2 %></td>
      <td><%= f.radio_button :work_pc, 3 %></td>
      <td><%= f.radio_button :work_pc, 4 %></td>
      <td><%= f.radio_button :work_pc, 5 %></td>
      <td><%= f.radio_button :work_pc, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
       
      <td>Mobile device related to work</td>
      <td><%= f.radio_button :work_mobile, 1 %></td>
      <td><%= f.radio_button :work_mobile, 2 %></td>
      <td><%= f.radio_button :work_mobile, 3 %></td>
      <td><%= f.radio_button :work_mobile, 4 %></td>
      <td><%= f.radio_button :work_mobile, 5 %></td>
      <td><%= f.radio_button :work_mobile, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>Public terminal (e.g., library, cybercafe, etc.)</td>
      <td><%= f.radio_button :public, 1 %></td>
      <td><%= f.radio_button :public, 2 %></td>
      <td><%= f.radio_button :public, 3 %></td>
      <td><%= f.radio_button :public, 4 %></td>
      <td><%= f.radio_button :public, 5 %></td>
      <td><%= f.radio_button :public, 6 %></td>
    </tr>
  </table>
<hr>

