
<div id="expand_field">
<div id="tweet2"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "message_hover_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "message_hover_time"}) %>"
             ></div>
          <div id="collapse_at"
               onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "open_time_at"}) %>"
               onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "open_time_at"}) %>"
          >
            <%= link_to_remote image_tag('../images/collapse_einzeln.png',
                :mouseover => '../images/collapse_unterstrichen.png'),
                :url => {:action => "close", :id => @user.id}
            %>
          </div> 
          <div id="reply2_at"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "reply_time_at"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "reply_time_at"}) %>"          
          >
            <%= link_to_remote image_tag('../images/reply_einzeln.png',
                 :mouseover => '../images/reply_unterstrichen.png'),
                  :url => {:action => "reply", :id => @user.id}
            %>
          </div>
          <div id = "retweet2_at"          
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "retweet_time_at"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "retweet_time_at"}) %>"
          >
            <%= link_to_remote image_tag('../images/retweet_einzeln.png',
                 :mouseover => '../images/retweet_unterstrichen.png'),
                 :url => {:action => "retweet", :id => @user.id}
            %>
          </div>
          <div id = "favorite2_at"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "favorite_time_at"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "favorite_time_at"}) %>"
          >
            <%= link_to_remote image_tag('../images/favorite_einzeln.png',
                :mouseover => '../images/favorite_unterstrichen.png'),
                :url => {:action => "favorite", :id => @user.id}
            %>
          </div>
          <div id="time"><%= Time.now.strftime("%I:%M %p - %d %b %y via web") %></div>
          
</div>