<div id="follower_field">              
  <div id="follow1"      
       onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => 'follow_m1'}) %>"
       onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => 'follow_m1'}) %>"         
  >
    <div id="follower_bild">
      <img src='../images/ministry-of-defence-logo.jpg' width='55' height='53'>
    </div>
    <div id="follower_titel">
      <b><%=MINISTRY[@user.country-1][0]%> of <%=COUNTRIES[@user.country][0] %></b>
    </div>
    <div id="follower_friend">
      Followed by <%= displayed_person %>
    </div>
    <div id="follower_button">
      <%= if ((@user.follow_1_clicked==nil)||(@user.follow_1_clicked.even?))
            link_to_remote image_tag('../images/Follow.png',
            :mouseover => '../images/Follow_unterstrichen.png', :id => "follower_button_follow"),
            :url => {:action => "follow1", :id => @user.id}
        else
            link_to_remote image_tag('../images/Unfollow.png',
            :mouseover => '../images/Unfollow_unterstrichen.png', :id => "follower_button_follow"),
            :url => {:action => "follow1", :id => @user.id}
         end %>
    </div>
  </div>
  <div id="follow2"      
       onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => 'follow_m2'}) %>"
       onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => 'follow_m2'}) %>"         
  >
    <div id="follower_bild2">
     <img src='../images/indipendent.jpg' width='55' height='53'>
    </div>
    <div id="follower_titel2">
      <b>Indipendent News Blog</b>
    </div>
    <div id="follower_friend2">
      Followed by <%= displayed_person %>
    </div>
    <div id="follower_button2">
      <%= if ((@user.follow_2_clicked==nil)||(@user.follow_2_clicked.even?))
            link_to_remote image_tag('../images/Follow.png',
            :mouseover => '../images/Follow_unterstrichen.png', :id => "follower_button2_follow"),
            :url => {:action => "follow2", :id => @user.id}
        else
            link_to_remote image_tag('../images/Unfollow.png',
            :mouseover => '../images/Unfollow_unterstrichen.png', :id => "follower_button2_follow"),
            :url => {:action => "follow2", :id => @user.id}
         end %>
    </div>
  </div>
</div>
