<div id="follower_field">              
  <div id="follow1">
    <div id="follower_bild">
      <img src='../images/ministry-of-defence-logo.jpg' width='55' height='53'>
    </div>
    <div id="follower_titel">
      <b><%=EMPLOYEE[@user.country-1][0].split(' employee')%> of <%=COUNTRIES[@user.country][0] %></b>
    <div id="follower_friend">
      Followed by <%= displayed_person %>
    </div>
        <div id="<%=unfollow_follow_div%>follower_button"
        onclick="<%= remote_function(:url => {:action => "follow1", :id => @user.id}) %>; change_button('follower_button');"
        onmouseover="<%= remote_function(:url => {:action => :start_measure, :type => 'follow_m1'}) %>"
         onmouseout="<%= remote_function(:url => {:action => :end_measure, :type => 'follow_m1'}) %>">
        </div>

    </div>
  </div>
</div>
