<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part III: Twitter usage</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
  
<%= progress_bar("my_sixty_percent_progress_bar",0.35,true,true) %>

</TD>

</TR>
</TABLE>


</p>

<hr>
<p>
  <h3>What is your Twitter account name?</h3>
    <div id="opinion_leader_text">
      Please fill in your account name here:
      <%= f.text_field :account_name %>
    </div>
</p>
<hr>

<p>
  <h3>What are your Twitter account measures?</h3>
        <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Please fill in your Follower number here:</td> 
                   <td> <%= f.text_field :number_followers %></td>
                 </tr>
                 <tr>
                   <td>Please fill in your Followee number here:</td>
                   <td><%= f.text_field :number_followeees %></td>
                 </tr>
                 <tr>
                   <td>Please fill in the amount of your messages here:</td>
                   <td><%= f.text_field :number_messages %></td>
                 </tr>
               </table>
               </div>    
</p>

<hr>

  <p>
  <h3>How frequently do you do the following actions on Twitter?</h3>
  <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Several times a day</td>
      <td width="10%">Daily</td>
      <td width="10%">Several days a week</td>
      <td width="10%">Weekly</td>
      <td width="10%">Less than weekly</td>
      <td width="10%">Never</td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Login to Twitter:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Writing Tweets:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Retweet Tweet:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        Use @Replies to adress other Twitter accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        Write private messages to friends on Twitter:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">Favorite Tweets:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Read Tweets on your wall:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Discover stories:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Discover trends:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Searching keywords:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 6 %></td>
    </tr>

    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Following new accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Unfollow accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Searching account names:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Exploring the "Who to follow" category on the discover page:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Browse through categories on the discover page:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Find friends (e.g. search them in Twitter or invite them to Twitter):</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Looking for recent activities of friends:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Create lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Add accounts to lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Subscribe to lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 6 %></td>
    </tr>
       <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Unsubscribe from lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Delete accounts from lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 6 %></td>
    </tr>


  </table>
<hr>
  
<p>
  <h3>How long do you surf on Twitter on average per day?</h3>
        <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Please fill in the amount of hours you surf on Twitter on an average weekday:</td> 
                   <td> <%= f.text_field :surf_twitter_week %></td>
                 </tr>
                 <tr>
                   <td>Please fill in the amount of hours you surf on Twitter on an average day of your weekend:</td>
                   <td><%= f.text_field :surf_twitter_weekend %></td>
                 </tr>
               </table>
        </div>   
</p>
<hr>
