<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part III: Twitter Usage</h2>

</TD>


<TD ALIGN="RIGHT">
  
3/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.14,true,true) %>

</TD>

</TR>
</TABLE>


</p>

<hr>
<p>
  <h3>What is your Twitter account name?</h3>
    <div id="opinion_leader_text">
      Please fill in your account name like others would mention you in an @-reply: <nobr>@
      <%= f.text_field :account_name, :size => 20, :maxlength => 20%></nobr>
    </div>
</p>
<hr>
<p>
  <h3>In what context do you use the Twitter account mentioned above?</h3>
    <div id="opinion_leader_text">
      I use this Twitter account ...
      <%= select(:user, :twitter_privat_work, TWITTER_P_W)  %> 
                      <br>
    </div>
</p>
<hr>

<p>
  <h3>What are your Twitter account measures?</h3>
        <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Please fill in your follower number here:</td> 
                   <td> <%= f.text_field :number_followers, :size => 10, :maxlength => 10 %></td>
                 </tr>
                 <tr>
                   <td>Please fill in your followee number here:</td>
                   <td><%= f.text_field :number_followeees, :size => 10, :maxlength => 10 %></td>
                 </tr>
                 <tr>
                   <td>Please fill in the total number of your messages here:</td>
                   <td><%= f.text_field :number_messages, :size => 10, :maxlength => 10 %></td>
                 </tr>
               </table>
               </div>    
</p>

<hr>

  <p>
  <h3>How frequently do you do the following Twitter related actions?</h3>
  <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Several times a day</td>
      <td width="10%">Daily</td>
      <td width="10%">Several days a week</td>
      <td width="10%">Weekly</td>
      <td width="10%">Less than weekly</td>
      <td width="10%">Never</td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Login to Twitter:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_login, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Writing Tweets:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_tweet_number, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Retweeting Tweet:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_retweet, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        Use @-replies to adress other Twitter accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_at_replies, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        Write direct messages to your Twitter friends:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_private_replies, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">Favorite Tweets:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_favorite_tweets, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Reading Tweets on your wall:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_tweets, 6 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Reading Tweets on real-time personalized newspapers generated from your Twitter account such as The Tweeted Times:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_read_twtimes, 6 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Reading tailored Tweets on the discover page of Twitter:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_stories, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Discovering trends on Twitter:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_trend, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Searching keywords on Twitter:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_search_keywords, 6 %></td>
    </tr>

    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Following new accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_follow, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Unfollowing accounts:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unfollow_account, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Searching account names on Twitter:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_search_accounts, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Exploring the "Who to follow" category on the Twitter discover page:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_who_to_follow, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Browsing through categories on the Twitter discover page:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_browse_categories, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Finding friends (e.g., searching for them on Twitter or inviting them to Twitter):</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_find_friends, 6 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Looking for recent activities of Twitter friends:</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :avg_activities_friends, 6 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Creating lists on Twitter:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_create_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Adding accounts to Twitter lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_add_accounts_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Subscribing to Twitter lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_subscribe_lists, 6 %></td>
    </tr>
       <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Unsubscribing from Twitter lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_unsubscribe_lists, 6 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Deleting accounts from Twitter lists:</td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :avg_delete_accounts_lists, 6 %></td>
    </tr>


  </table>
<hr>
  
<p>
  <h3>How long do you actively surf on Twitter on average per day?</h3>
        <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Please fill in the number of hours you surf on Twitter on an average weekday:</td> 
                   <td> <%= f.text_field :surf_twitter_week, :size => 4, :maxlength => 4%>hours per day</td>
                 </tr>
                 <tr>
                   <td>Please fill in the number of hours you surf on Twitter on an average day of your weekend:</td>
                   <td><%= f.text_field :surf_twitter_weekend, :size => 4, :maxlength => 4%>hours per day</td>
                 </tr>
               </table>
        </div>   
</p>
<hr>
