 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part VI: Your Political Interests </h2>

</TD>


<TD ALIGN="RIGHT">
6/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.31,true,true) %>
</TD>

</TR>
</TABLE>

<hr>

  <p>
  <h3>What political topics are you especially interested in?</h3>
  <table width="100%" class="hovertable">
   <tr style="text-align: center;" >
           <td ></td>
           <td width="15%">Very interested</td>
           <td width="15%">Somewhat interested</td>
           <td width="15%">Unsure</td>
           <td width="15%">Not very interested</td>
           <td width="15%">Not interested at all</td>
   </tr>

    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Economic policy:</td>
           <td style="text-align: center;">
        <%= f.radio_button :economic_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :economic_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :economic_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :economic_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :economic_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Foreign affairs:</td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_affairs, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_affairs, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_affairs, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_affairs, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_affairs, 5 %></td>
    </tr>
     <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      Domestic politics:</td>
           <td style="text-align: center;">
        <%= f.radio_button :domestic_politics, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :domestic_politics, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :domestic_politics, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :domestic_politics, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :domestic_politics, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Legal policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :legal_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :legal_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :legal_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :legal_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :legal_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Fiscal policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :fiscal_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :fiscal_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :fiscal_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :fiscal_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :fiscal_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Social policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :social_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :social_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :social_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :social_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :social_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Agricultural policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :agricultural_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :agricultural_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :agricultural_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :agricultural_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :agricultural_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Defence policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :defence_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Family policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :family_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :family_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :family_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :family_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :family_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Healthcare policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :healthcare_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :healthcare_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :healthcare_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :healthcare_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :healthcare_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Traffic policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :traffic_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :traffic_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :traffic_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :traffic_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :traffic_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Environmental policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :environmental_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :environmental_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :environmental_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :environmental_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :environmental_policy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Educational policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :educational_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :educational_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :educational_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :educational_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :educational_policy, 5 %></td>
    </tr>
  
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Development policy: </td>
           <td style="text-align: center;">
        <%= f.radio_button :development_policy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :development_policy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :development_policy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :development_policy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :development_policy, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Other: <br><%= f.text_field :other_str_sup_topic%></td> 
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 1 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 2 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 3 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 4 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 5 %></td>
           
    </tr>
  </table>
  
<hr>
  
           <h3>Please estimate the percentage of the Tweets you read in an average week that are related to political topics?</h3>

           <div id="opinion_leader_text"><p>
                      <p>
                                 <table>
                                            <tr>
                                                       <td        onMouseover="document.getElementById ('null').style.display='block';"  
                                                                  onMouseout="document.getElementById('null').style.display='none';">0%
                                                       </td>
                                                       <td>
                                                       <div id="track1" style="float: none;">
                                                                  <div id="handle1" style="border: thin;">
                                                                             <img  id="runder-button" src='../images/runder-button1.png' style="height: 15px; width: 15px;left: -10px;"><br>
                                                                             <div id="zahl"><%= @user.slider %>%</div>
                                                                  </div>
                                                       </div>
                                                       </td>
                                                       <td        onMouseover="document.getElementById ('hundert').style.display='block';"  
                                                                  onMouseout="document.getElementById('hundert').style.display='none';">100%
                                                       </td>
                                                       <td></td>
                                                       <td id="null" style="display: none;padding-left: 100px;" >0% means none of the Tweets you read are related to political topics.
                                                       </td>
                                                       <td id="hundert"  style="display: none;padding-left: 100px;" >100% means all of the Tweets you read are related to political topics.
                                                       </td>       
                                            </tr>
                                   
                                 </table>
                      </p>
           
                      <%= f.hidden_field :slider, :value => @user.slider rescue "-99" %>

                      <script type="text/javascript">
                                 // <![CDATA[

                                 x=parseInt(<%= @user.slider %> + 0.5);
                               
                                 
                                 new Control.Slider('handle1','track1',{
                                   sliderValue: x,
                                   range: $R(0,100),
                                   onSlide:function(v){$('zahl').innerHTML= parseInt(v + 0.5)+'%';},
                                   onChange:function(v){document.getElementById('user_slider').value = v },
                                   });
                                 // ]]>
                      </script>
                      <br>
                      <%= f.check_box :dk_pol_percentage, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                      I don't know the percentage of the political Tweets I read.
               </p>       
           </div>

<hr>

 <h3>What political news topics do you avoid retweeting, replying to or writing about?
</h3>
           <i>You can select more than one field but you don't have to select one.</i>
            <div style="padding-left: 20px;">
                      <p><%= f.check_box :econ_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>      
                                            News about <b>economic policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_econ_gen').checked){
                                                document.getElementById('v_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('econ_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_econ_gen'), 0.3, function(form, value){
                                       if ($('user_econ_gen').checked) {
                                        Effect.SlideDown('econ_gen_div');
                                       }
                                       else {
                                       document.getElementById('econ_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="econ_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>economic policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                      <%= select(:user, :econ_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :for_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>foreign affairs</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_for_gen').checked){
                                                document.getElementById('for_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('for_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_for_gen'), 0.3, function(form, value){
                                       if ($('user_for_gen').checked) {
                                        Effect.SlideDown('for_gen_div');
                                       }
                                       else {
                                       document.getElementById('for_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="for_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>foreign affairs</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :for_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p<%= f.check_box :dom_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>domestic politics</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_dom_gen').checked){
                                                document.getElementById('dom_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('dom_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_dom_gen'), 0.3, function(form, value){
                                       if ($('user_dom_gen').checked) {
                                        Effect.SlideDown('dom_gen_div');
                                       }
                                       else {
                                       document.getElementById('dom_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="dom_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>domestic politics</b> of <%= COUNTRIES[@user.country][0]%><br>   
                                                       <%= select(:user, :dom_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :leg_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>legal policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_leg_gen').checked){
                                                document.getElementById('leg_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('leg_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_leg_gen'), 0.3, function(form, value){
                                       if ($('user_leg_gen').checked) {
                                        Effect.SlideDown('leg_gen_div');
                                       }
                                       else {
                                       document.getElementById('leg_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="leg_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>legal policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :leg_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :fisc_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>fiscal policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_fisc_gen').checked){
                                                document.getElementById('fisc_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('fisc_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_fisc_gen'), 0.3, function(form, value){
                                       if ($('user_fisc_gen').checked) {
                                        Effect.SlideDown('fisc_gen_div');
                                       }
                                       else {
                                       document.getElementById('fisc_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="fisc_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>fiscal policy</b> of <%= COUNTRIES[@user.country][0]%><br>  
                                                       <%= select(:user, :fisc_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :soc_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>social policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_soc_gen').checked){
                                                document.getElementById('soc_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('soc_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_soc_gen'), 0.3, function(form, value){
                                       if ($('user_soc_gen').checked) {
                                        Effect.SlideDown('soc_gen_div');
                                       }
                                       else {
                                       document.getElementById('soc_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="soc_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>social policy</b> of <%= COUNTRIES[@user.country][0]%><br>
                                                       <%= select(:user, :soc_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :agr_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>agricultural policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_agr_gen').checked){
                                                document.getElementById('agr_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('agr_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_agr_gen'), 0.3, function(form, value){
                                       if ($('user_agr_gen').checked) {
                                        Effect.SlideDown('agr_gen_div');
                                       }
                                       else {
                                       document.getElementById('agr_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="agr_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>agricultural policy</b> of <%= COUNTRIES[@user.country][0]%> <br>   
                                                       <%= select(:user, :agr_sent, MESSAGE_SENTIMENT)  %>
                                 </div></p>
                      <p><%= f.check_box :def_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>defence policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_def_gen').checked){
                                                document.getElementById('def_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('def_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_def_gen'), 0.3, function(form, value){
                                       if ($('user_def_gen').checked) {
                                        Effect.SlideDown('def_gen_div');
                                       }
                                       else {
                                       document.getElementById('def_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="def_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>defence policy</b> of <%= COUNTRIES[@user.country][0]%> <br>  
                                                       <%= select(:user, :def_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :fam_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>family policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_fam_gen').checked){
                                                document.getElementById('fam_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('fam_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_fam_gen'), 0.3, function(form, value){
                                       if ($('user_fam_gen').checked) {
                                        Effect.SlideDown('fam_gen_div');
                                       }
                                       else {
                                       document.getElementById('fam_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="fam_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>family policy</b> of <%= COUNTRIES[@user.country][0]%> <br>   
                                                       <%= select(:user, :fam_sent, MESSAGE_SENTIMENT)  %>
                                 </div></p>
                      <p><%= f.check_box :health_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>healthcare policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_health_gen').checked){
                                                document.getElementById('health_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('health_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_health_gen'), 0.3, function(form, value){
                                       if ($('user_health_gen').checked) {
                                        Effect.SlideDown('health_gen_div');
                                       }
                                       else {
                                       document.getElementById('health_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="health_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>healthcare policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :health_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :traf_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>traffic policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_traf_gen').checked){
                                                document.getElementById('traf_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('traf_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_traf_gen'), 0.3, function(form, value){
                                       if ($('user_traf_gen').checked) {
                                        Effect.SlideDown('traf_gen_div');
                                       }
                                       else {
                                       document.getElementById('traf_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="traf_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>traffic policy</b> of <%= COUNTRIES[@user.country][0]%><br>   
                                                       <%= select(:user, :traf_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :env_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>environmental policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_env_gen').checked){
                                                document.getElementById('env_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('env_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_env_gen'), 0.3, function(form, value){
                                       if ($('user_env_gen').checked) {
                                        Effect.SlideDown('env_gen_div');
                                       }
                                       else {
                                       document.getElementById('env_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="env_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about  <b>environmental policy</b> of <%= COUNTRIES[@user.country][0]%><br>   
                                                       <%= select(:user, :env_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :educ_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>educational policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_educ_gen').checked){
                                                document.getElementById('educ_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('educ_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_educ_gen'), 0.3, function(form, value){
                                       if ($('user_educ_gen').checked) {
                                        Effect.SlideDown('educ_gen_div');
                                       }
                                       else {
                                       document.getElementById('educ_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="educ_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>educational policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :educ_sent, MESSAGE_SENTIMENT)  %>  

                                 </div></p>
                      <p><%= f.check_box :dev_gen, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            News about <b>development policy</b> of <%= COUNTRIES[@user.country][0]%>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_dev_gen').checked){
                                                document.getElementById('dev_gen_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('dev_gen_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_dev_gen'), 0.3, function(form, value){
                                       if ($('user_dev_gen').checked) {
                                        Effect.SlideDown('dev_gen_div');
                                       }
                                       else {
                                       document.getElementById('dev_gen_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="dev_gen_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>development policy</b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :dev_sent, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
                      <p><%= f.check_box :oth_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Other news topics <%= f.text_field :oth_neg_txt %>
                                            <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_oth_neg').checked){
                                                document.getElementById('oth_neg_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('oth_neg_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_oth_neg'), 0.3, function(form, value){
                                       if ($('user_oth_neg').checked) {
                                        Effect.SlideDown('oth_neg_div');
                                       }
                                       else {
                                       document.getElementById('oth_neg_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="oth_neg_div" style="display: none;padding-left: 40px;">
                                                       Do you distinguish between positive, neutral or negative news about <b>
                                                       your mentioned topic
                                                       </b> of <%= COUNTRIES[@user.country][0]%><br>    
                                                       <%= select(:user, :oth_oth, MESSAGE_SENTIMENT)  %> 
                                 </div></p>
<hr>
