 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part VI: Your Political Interests </h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
6/12 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.32,true,true) %>
</TD>

</TR>
</TABLE>

<hr>

  <p>
  <h3>What political topics are you especially interested in?</h3>
  <table width="100%" class="hovertable">
   <tr style="text-align: center;" >
           <td ></td>
           <td width="15%">Very interested</td>
           <td width="15%">Somewhat interested</td>
           <td width="15%">Unsure</td>
           <td width="15%">Not very interested</td>
           <td width="15%">Not interested at all</td>
   </tr>

    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Defence:</td>
           <td style="text-align: center;">
        <%= f.radio_button :defence, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :defence, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        Diplomacy:</td>
           <td style="text-align: center;">
        <%= f.radio_button :diplomacy, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :diplomacy, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :diplomacy, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :diplomacy, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :diplomacy, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Elections: </td>
           <td style="text-align: center;">
        <%= f.radio_button :elections, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :elections, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :elections, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :elections, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :elections, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Espionage & intelligence: </td>
           <td style="text-align: center;">
        <%= f.radio_button :espionage, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :espionage, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :espionage, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :espionage, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :espionage, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
           Foreign aid: </td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_aid	, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_aid	, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_aid	, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_aid	, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :foreign_aid	, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Government: </td>
           <td style="text-align: center;">
        <%= f.radio_button :government, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :government, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :government, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :government, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :government, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Human rights: </td>
           <td style="text-align: center;">
        <%= f.radio_button :human_rights, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :human_rights, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :human_rights, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :human_rights, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :human_rights, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Local authorities: </td>
           <td style="text-align: center;">
        <%= f.radio_button :local_authorities, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :local_authorities, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :local_authorities, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :local_authorities, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :local_authorities, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Parliament: </td>
           <td style="text-align: center;">
        <%= f.radio_button :parliament, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parliament, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parliament, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parliament, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parliament, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Parties: </td>
           <td style="text-align: center;">
        <%= f.radio_button :parties, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parties, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parties, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parties, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :parties, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Refugees: </td>
           <td style="text-align: center;">
        <%= f.radio_button :refugees, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :refugees, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :refugees, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :refugees, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :refugees, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Regional authorities: </td>
           <td style="text-align: center;">
        <%= f.radio_button :regional_authorities, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :regional_authorities, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :regional_authorities, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :regional_authorities, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :regional_authorities, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          State budget & taxes: </td>
           <td style="text-align: center;">
        <%= f.radio_button :state_budget, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :state_budget, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :state_budget, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :state_budget, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :state_budget, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Treaties & international organisations: </td>
           <td style="text-align: center;">
        <%= f.radio_button :treaties, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :treaties, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :treaties, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :treaties, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :treaties, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Constitution: </td>
           <td style="text-align: center;">
        <%= f.radio_button :constitution, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :constitution, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :constitution, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :constitution, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :constitution, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Interior policies: </td>
           <td style="text-align: center;">
        <%= f.radio_button :interior_policies, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :interior_policies, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :interior_policies, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :interior_policies, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :interior_policies, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Migration: </td>
           <td style="text-align: center;">
        <%= f.radio_button :migration, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :migration, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :migration, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :migration, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :migration, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Citizens initiative & recall: </td>    
           <td style="text-align: center;">
        <%= f.radio_button :citizens_initiative, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :citizens_initiative, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :citizens_initiative, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :citizens_initiative, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :citizens_initiative, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Referenda: </td>  
           <td style="text-align: center;">
        <%= f.radio_button :referenda, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :referenda, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :referenda, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :referenda, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :referenda, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Nuclear policies: </td> 
           <td style="text-align: center;">
        <%= f.radio_button :nuclear_policies, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :nuclear_policies, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :nuclear_policies, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :nuclear_policies, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :nuclear_policies, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Lobbying: </td> 
           <td style="text-align: center;">
        <%= f.radio_button :lobbying, 1 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :lobbying, 2 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :lobbying, 3 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :lobbying, 4 %></td>
           <td style="text-align: center;">
        <%= f.radio_button :lobbying, 5 %></td>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
          Other: <br><%= f.text_field :other_str_sup_topic%></td> 
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 1 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 2 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 3 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 4 %></td>
           <td style="text-align: center;">
         <%= f.radio_button :other_sup_topic, 5 %></td>
           
    </tr>
  </table>
  
<hr>
  
           <h3>Please estimate the percentage of the Tweets you read that are related to political topics?</h3>

           <div id="opinion_leader_text"><p>
                      <p>
                                 <table>
                                            <tr>
                                                       <td        onMouseover="document.getElementById ('null').style.display='block';"  
                                                                  onMouseout="document.getElementById('null').style.display='none';">0%
                                                       </td>
                                                       <td>
                                                       <div id="track1" style="float: none;">
                                                                  <div id="handle1" style="border: thin;">
                                                                             <img  id="runder-button" src='../images/runder-button1.png' style="height: 15px; width: 15px;left: -10px;"><br>
                                                                             <div id="zahl"><%= @user.slider %>%</div>
                                                                  </div>
                                                       </div>
                                                       </td>
                                                       <td        onMouseover="document.getElementById ('hundert').style.display='block';"  
                                                                  onMouseout="document.getElementById('hundert').style.display='none';">100%
                                                       </td>
                                                       <td></td>
                                                       <td id="null" style="display: none;padding-left: 100px;" >0% means none of the Tweets you read are related to political topics.
                                                       </td>
                                                       <td id="hundert"  style="display: none;padding-left: 100px;" >100% means all of the Tweets you read are related to political topics.
                                                       </td>       
                                            </tr>
                                   
                                 </table>
                      </p>
           
                      <%= f.hidden_field :slider, :value => @user.slider rescue "-99" %>

                      <script type="text/javascript">
                                 // <![CDATA[

                                 x=parseInt(<%= @user.slider %> + 0.5);
                               
                                 
                                 new Control.Slider('handle1','track1',{
                                   sliderValue: x,
                                   range: $R(0,100),
                                   onSlide:function(v){$('zahl').innerHTML= parseInt(v + 0.5)+'%';},
                                   onChange:function(v){document.getElementById('user_slider').value = v },
                                   });
                                 // ]]>
                      </script>
                      <br>
                      <%= f.check_box :dk_pol_percentage, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                      I don't know the percentage of the political Tweets I read.
               </p>       
           </div>

<hr>

 <h3>What political news topics do you avoid retweeting, replying to or writing about?
</h3>
           <i>Tip: You can select more than one field.</i>
            <div style="padding-left: 20px;">
           <p>
           <table width="70%">
                      <tr style="background: #e2e2e2;">
                                 <td>Exclusively negative news about a topic</td>
                                 <td>All further news about a topic</td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :def_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>defence</b> or <b><%= MINISTRY[@user.country-1][0] %></b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :def_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Further news about <b>defence</b> or <b><%= MINISTRY[@user.country-1][0] %></b> of <%= COUNTRIES[@user.country][0]%>          
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :dip_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>diplomacy</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :dip_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>diplomacy</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :ele_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>elections</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :ele_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>elections</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                       
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :ele_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>espionage & intelligence</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :ele_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>espionage & intelligence</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :for_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>foreign aid</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :for_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>foreign aid</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :gov_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>government</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :gov_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>government</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :hum_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>human rights</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :hum_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>human rights</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :loc_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>local authorities</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :loc_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>local authorities</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :parl_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>parliament</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :parl_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>parliament</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :part_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>parties</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :part_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>parties</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :refu_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>refugees</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :refu_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>refugees</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :auth_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>regional authorities</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :auth_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>regional authorities</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :bud_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>state budget & taxes</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :bud_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>state budget & taxes</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :tre_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>treaties & international organisations</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :tre_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>treaties & international organisations</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :cons_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>constitution</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :cons_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>constitution</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :int_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>interior policies</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :int_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>interior policies</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :mig_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>migration</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :mig_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>migration</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :cit_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>citizens initiative & recall</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :cit_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>citizens initiative & recall</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :refe_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>referenda</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :refe_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>referenda</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :nuc_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>nuclear policies</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :nuc_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>nuclear policies</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :lob_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>lobbying</b> of <%= COUNTRIES[@user.country][0]%>
                                 </td>
                                 <td>
                                            <%= f.check_box :lob_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>lobbying</b> of <%= COUNTRIES[@user.country][0]%>           
                                 </td>
                      </tr>
                      
                      <tr style="background: #f2f2f2;">
                                 <td>
                                            <%= f.check_box :oth_neg, :options => {}, :checked_value => "1", :unchecked_value => "0"%>          
                                            Negative news about <b>other</b> political topics of <%= COUNTRIES[@user.country][0]%>: <%= f.text_field :oth_neg_txt %>
                                 </td>
                                 <td>
                                            <%= f.check_box :oth_oth, :options => {}, :checked_value => "1", :unchecked_value => "0"%>         
                                            Further news about <b>other</b> political topics of <%= COUNTRIES[@user.country][0]%>: <%= f.text_field :oth_oth_txt %>      
                                 </td>
                      </tr>
           </table>

<hr>
