<div id="connect_button">
      <%= link_to_remote image_tag('../images/connect_einzeln.png',
          :mouseover => '../images/connect_hover.png'),
          :url => {:action => "connect", :id => @user.id}
      %>
</div>

<div id="new_tweet"
        onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => 'new_tweet_time'}) %>"
        onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "new_tweet_time"}) %>"
>
      <%= link_to_remote image_tag('../images/new_tweet_0.png',
          :mouseover => '../images/new_tweet.png'),
          :url => {:action => "new_tweet", :id => @user.id}
      %>
</div>

<div id="search_symbol"
        onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "search_time"}) %>"
        onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "search_time"}) %>">
     <%= link_to_remote image_tag('../images/suchsymbol.png'),
             :url => {:action => "suche", :id => @user.id}
         %>
</div>

<div id="search"
        onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "search_time"}) %>"
        onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "search_time"}) %>">

     <%= f.text_area :search, :rows => 1, :cols => 20 , :class => "new-reply-text" %>
</div>
      
