


<div id="new_tweet"
        onclick="<%= remote_function(:url => {:action => "new_tweet", :id => @user.id}) %>;"
        onmouseover="<%= remote_function(:url => {:action => :start_measure, :type => 'new_tweet_time'}) %>"
         onmouseout="<%= remote_function(:url => {:action => :end_measure, :type => 'new_tweet_time'}) %>">
        </div>

<div id="search_symbol"
        onclick="<%= remote_function(:url => {:action => "suche", :id => @user.id}) %>;"
        onmouseover="<%= remote_function(:url => {:action => :start_measure, :type => 'search_time'}) %>"
         onmouseout="<%= remote_function(:url => {:action => :end_measure, :type => 'search_time'}) %>">
        </div>

<div id="search"
        onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "search_time"}) %>"
        onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "search_time"}) %>">

     <%= f.text_area :search, :rows => 1, :cols => 20 , :class => "new-reply-text" %>
</div>
   <%= observe_form :search, :url => { :action => :save_search }, :frequency => 0.25 %>   
