
<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part X: Questions to Simulation</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
  


            
10/12 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.91,true,true) %>
            


</TD>

</TR>
</TABLE>

</p>
    

<hr>

  <p>
  <h3>You have seen the following message: <%= h @user.seen_message_1 %><br></br>
  <i>Please evaluate the following statements regarding the seen message.</i>
  </h3>
  <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td colspan="2" align="left">
         Strongly disagree
      </td>
      <td colspan="3" align="center">
         Neither agree nor disagree
      </td>
      <td colspan="2" align="right">
         Strongly agree
      </td>
    </tr>
    <tr style="text-align: center;" >
      <td ></td>
      <td width="9%">-3</td>
      <td width="9%">-2</td>
      <td width="9%">-1</td>
      <td width="9%">0</td>
      <td width="9%">1</td>
      <td width="9%">2</td>
      <td width="9%">3</td>
    </tr>
    
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       The message might be important to me.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_important, 6 %></td>
            <td style="text-align: center;">
        <%= f.radio_button :message_important, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be meaningful to me.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_meaningful, 7 %></td>
    </tr>
  
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        The message might be “for me”.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_for_me, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td >
        The message might be worth remembering.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_remember, 7 %></td>
    </tr>
     
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be of value to me.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_value, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
       The message might be relevant to my needs.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_relevant, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be useful to me.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_useful, 7 %></td>
    </tr>
   
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be worth paying attention.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_attention, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be interesting to me.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_interest, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message would give me new ideas.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_ideas, 7 %></td>
    </tr>

   <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be helpful.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_helpful, 7 %></td>
    </tr>
   
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        The message might be informative.</td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :message_informative, 7 %></td>
    </tr>
  </table>
 </p>
<hr>

  <p>

  
    
    <% if(@user.retweet_1_clicked.even? && @user.retweet_2_clicked.even? ) %>
    <div id="no_retweet">
    <p>
      <% if !@user.seen_multiple_messages %>
        <h3>Could you please mention some reasons why you didn't retweet the message in the simulation?</h3>
      <% else%>
        <h3>Could you please mention some reasons why you didn't retweet one of the messages in the simulation?</h3>
      <%end%>
      <div id="opinion_leader_text">
          Please fill in possible reasons why you didn't retweet
          the seen message. It could help to reflect on what messages
          you normally retweet and why.<br>
          <%= f.text_area :reason_nrt, :rows => 4, :value =>text, :style => 'color:grey;', :onclick =>"this.style.color='black'" %>
      </div>
    </p>
  </div>
<% else%>
    <div id="zusatzfragen_rt" >
    <%= render "zusatzfragen_rt", :f => f  %> 
  </div>
<%end%>

<hr>
  
  <% if (@user.favorite_1_clicked.even? && @user.favorite_2_clicked.even? ) %>
  <div id="no_favorite">
    <p>
    <% if !@user.seen_multiple_messages %>
        <h3>Could you please mention some reasons why you didn't favorite the message in the simulation?</h3>
    <% else%>
        <h3>Could you please mention some reasons why you didn't favorite one of the messages in the simulation?</h3>
    <%end%>
        <div id="opinion_leader_text">
          Please fill in possible reasons why you didn't favorite
          the seen message. It could help to reflect on what messages
          you normally favorite and why.<br>
        <%= f.text_area :reason_nfav, :rows => 4, :value =>text, :style => 'color:grey;', :onclick =>"this.style.color='black'" %>
        </div>
    </p>
  </div>
<% else%>
  <div id="zusatzfragen_rt" >
    <%= render "zusatzfragen_fav", :f => f  %> 
  </div>
<%end%>

<hr>

<% if @user.expand_1_clicked <1 && @user.expand_2_clicked <1%>
     
  <div id="no_open">
  <p>
  <% if !@user.seen_multiple_messages %>
    <h3>Could you please mention some reasons why you didn't expand the message in the simulation?</h3>
  <% else%>
    <h3>Could you please mention some reasons why you didn't expand one of the messages in the simulation?</h3>
  <%end%>
      <div id="opinion_leader_text">
        Please fill in possible reasons why you didn't expand
        the seen message. It could help to reflect on what messages
        you normally expand and why.<br>
      <%= f.text_area :reason_nexp  , :rows => 4, :value =>text, :style => 'color:grey;', :onclick =>"this.style.color='black'" %>
      </div>
    </p>
  </div>
<% else%>
    <div id="zusatzfragen_rt" >
    <%= render "zusatzfragen_open", :f => f  %> 
  </div>
<%end%>

<hr>

<% if @user.reply_1_clicked <1 && @user.reply_2_clicked <1%>
  <div id="no_open">
  <p>
  <% if !@user.seen_multiple_messages %>
    <h3>Could you please mention some reasons why you didn't click reply in the simulation?</h3>
  <% else%>
    <h3>Could you please mention some reasons why you didn't click reply in the simulation?</h3>
  <%end%>
      <div id="opinion_leader_text">
        Please fill in possible reasons why you didn't reply to
        the seen message. It could help to reflect on what messages
        you normally reply and why.<br>
      <%= f.text_area :reason_nrep   , :rows => 4, :value =>text, :style => 'color:grey;', :onclick =>"this.style.color='black'" %>
      </div>
    </p>
  </div>
<% else%>
  <div id="zusatzfragen_rt" >
    <%= render "zusatzfragen_reply", :f => f  %> 
  </div>
<%end%>
<hr>


