message2

     <!-- <div id="message" onMouseover="document.getElementById ('actions').style.display='block';" onMouseout="document.getElementById('actions').style.display='none';">
        <div id="inactive_expand"><img src='../images/expand_inactive.png'></div>
        <div id="actions" >
       
          <div id="expand"
               onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "open_time"}) %>"
               onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "open_time"}) %>"
          >
            <%= link_to_remote image_tag('../images/open_einzeln_g.png',
                :mouseover => '../images/open_unterstrichen_g.png'),
                :url => {:action => "open", :id => @user.id}
            %>
          </div>
        
          <div id="reply"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "reply_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "reply_time"}) %>"          
          >
            <%= link_to_remote image_tag('../images/reply_einzeln_g.png',
                 :mouseover => '../images/reply_unterstrichen_g.png'),
                  :url => {:action => "reply", :id => @user.id}
            %>
          </div>
      
          <div id = "retweet"          
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "retweet_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "retweet_time"}) %>"
          >
            <%= link_to_remote image_tag('../images/retweet_einzeln_g.png',
                 :mouseover => '../images/retweet_unterstrichen_g.png'),
                 :url => {:action => "retweet", :id => @user.id}
            %>
          </div>
          
          <div id = "favorite"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "favorite_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "favorite_time"}) %>"
          >
            <%= link_to_remote image_tag('../images/favorite_einzeln_g.png',
                :mouseover => '../images/favorite_unterstrichen_g.png'),
                :url => {:action => "favorite", :id => @user.id}
            %>
          </div>
           
        </div>
        <div id="tweeterer">
           <div id="tweeter_name"> Friend_2</div>
          
           <div id="tweeter_name_at">&nbsp;@Friend_2</div>
                     
           
          

          <div id="minutes">0m</div>
        </div>
        <div id="twitter_bild"><img src='../images/Twitter_bild.png'></div>
        <div id="tweet"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "message_hover_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "message_hover_time"}) %>"
             >
          <p>            
            <%= @user.seen_message %>
          </p>
        </div>

      </div>
      
      -->