<% if !@user.seen_multiple_messages %>
<%= render :partial => "tweet1", :locals => {:f => f, :message => @user.seen_message_1, :number => @number} %>
<% end %>

<% if @user.seen_multiple_messages %>
  <% if !@user.random_var_multimessage %>
    <%= render :partial => "tweet1", :locals => {:f => f, :message => @user.seen_message_1, :number => @number} %>
    <%= render :partial => "tweet2", :locals => {:f => f, :message => @user.seen_message_1, :number => @number} %>
 <%else%>
    <%= render :partial => "tweet2", :locals => {:f => f, :message => @user.seen_message_1, :number => @number} %>
    <%= render :partial => "tweet1", :locals => {:f => f, :message => @user.seen_message_1, :number => @number} %>
  <% end %>
<% end %>

<div id="ende">
  <%= render :partial => "end_of_tweets" %>
</div>
<div id="halter">
  <div id="follower_compose_seite" style="display: none;">
    <div id="follower_field2">
    </div>
  </div>
  <div id="follower_seite">
    <%= render "follower_seite", :f => f  %> 
  </div>
</div>