<%
status = @user.send("expand_#{number}_clicked")
if status != nil && !status.even?
  #expanded
  div_expanded_status = "block"
  action_prefix = "un"  
else
  div_expanded_status = "none"
  action_prefix = ""
end
actions_number = @number -1
%>

<div id="<%= give_div_a_name("message#{@number}") %>" 
  onMouseover="document.querySelectorAll('.actions')[<%= actions_number %>].style.display='block';"  
  onMouseout="document.querySelectorAll('.actions')[<%= actions_number %>].style.display= message_display(<%= @number %>)">  
  <div id="inactive_expand">
    <img src='../images/expand_inactive_g.png'>
  </div>
  <% @message_commands = true %>
  <%= render :partial => "actions", :locals => {:number => @number, :message_commands => @message_commands} %>
  <%if @number == 2 %>  
  <div id="tweet"
    onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "message_hover_m2"}) %>"
    onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "message_hover_m2"}) %>">           
      <%= message %>
      <%= link_to "bit.ly/X8tl", :controller => "users", :action => "website" , :id => 1%>
  </div>
  <% else %>
  <div id="tweet"
    onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "message_hover_m1"}) %>"
    onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "message_hover_m1"}) %>">           
      <%= message %>
      <%= link_to "bit.ly/Q7fm", :controller => "users", :action => "website" , :id => 1%>
  </div>
  <% end %>
</div>