Please evaluate the following statements.
   <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td colspan="2" align="left">
         Strongly disagree
      </td>
      <td colspan="3" align="center">
         Neither agree nor disagree
      </td>
      <td colspan="2" align="right">
         Strongly agree
      </td>
    </tr>
    <tr style="text-align: center;" >
      <td ></td>
      <td width="7%">-3</td>
      <td width="7%">-2</td>
      <td width="7%">-1</td>
      <td width="7%">0</td>
      <td width="7%">1</td>
      <td width="7%">2</td>
      <td width="7%">3</td>
    </tr>
  
        <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
       Assuming I could subscribe to lists related to the topic in the simulation, I intend to use this feature immediately.</td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 6 %></td>
            <td style="text-align: center;">
        <%= f.radio_button :intention1_subscribe_lists, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Given that I could add subscribe to lists related to the topic in the simulation, I predict that I would use this feature immediately.</td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_subscribe_lists, 7 %></td>
    </tr>
  
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
        If the seen content wouldn't be a simulation I would subscribe to lists related to the topic immediately.</td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention3_subscribe_lists, 7 %></td>
    </tr>
  </table>
