Please evaluate the following statements.
   <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td colspan="2" align="left">
         Strongly disagree
      </td>
      <td colspan="3" align="center">
         Neither agree nor disagree
      </td>
      <td colspan="2" align="right">
         Strongly agree
      </td>
    </tr>
    <tr style="text-align: center;" >
      <td ></td>
      <td width="7%">-3</td>
      <td width="7%">-2</td>
      <td width="7%">-1</td>
      <td width="7%">0</td>
      <td width="7%">1</td>
      <td width="7%">2</td>
      <td width="7%">3</td>
    </tr>

  
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       Assuming I could write private messages in the simulation, I intend to use this feature immediately.</td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 6 %></td>
            <td style="text-align: center;">
        <%= f.radio_button :intention1_write, 7 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';"> 
      <td >
        Given that I could write private messages in the simulation, I predict that I would use this feature immediately.</td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 5 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 6 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :intention2_write, 7 %></td>
    </tr>
  
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        If the seen content wouldn't be a simulation I would write a private message immediately.</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 5 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 6 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :intention3_write, 7 %></td>
    </tr>
</p>
   </table>