 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part V: Your Twitter Followees</h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
5/11 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.30,true,true) %>
</TD>

</TR>
</TABLE>
           <p>
           Please read the following items and think about your followed accounts at Twitter.
           If possible, please list as many as two account names of your followed Twitter accounts who best fit each description.
           </p>
           <p><b>NOTE: You may include the same Twitter account name in more than one section.</b></p>
           <hr>
           <h3>Informative type of Twitter accounts</h3>
               <div id="opinion_leader">The Twitter accounts of these persons convey news in ways that lead to learning about news and news background. They express themselves clearly and to the point.
               They provide news content first and then an explanation or background information. They take the time to reply as completely as possibly (e.g. adding relevant links) and
               do not leave you feeling that they were too busy to answer your inquiry. They enjoy and are willing to share any information that they have. <p></p></div>
               <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Account name: </td>
                    
                   <td> <%= f.text_field :ol_1 %></td>
                 </tr>
                 <tr>
                   <td>Account name: </td>
                   <td><%= f.text_field :ol_2 %> </td>
                 </tr>
               </table>
               </div>
           <hr>
           <h3>Knowledgeable type of Twitter accounts</h3>
               <div id="opinion_leader">These are Twitter accounts of persons who like to inform about news.
               They seem always up-to-date, demonstrate a command of recent political knowledge and a high level of journalistic expertise<p></p></div>
               <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Account name: </td>
                   <td><%= f.text_field :ol_3 %> </td>
                 </tr>
                 <tr>
                   <td>Account name: </td>
                   <td><%= f.text_field  :ol_4 %> </td>
                 </tr>
               </table>
               </div>
           <hr>
             <h3>Caring and professional type of Twitter accounts</h3>
               <div id="opinion_leader">These are Twitter accounts of persons whom we might call humanists.
               They treat people as equals; they read replys or @mentions, communicate well and never talk down to others even when helping them.<p></p></div>
               <div id="opinion_leader_text">
                 <table>
                 <tr>
                   <td>Account name: </td>
                   <td><%= f.text_field  :ol_5 %> </td>
                 </tr>
                 <tr>
                   <td>Account name: </td>
                   <td><%= f.text_field  :ol_6 %> </td>
                 </tr>
               </table>
               </div>
           <hr>
           <h3>General Twitter accounts whose Tweets you value on news related topics. </h3>
           <div id="opinion_leader_text">
             <table>
             <tr>
               <td>Account name: </td>
               <td><%= f.text_field :ol_7 %> </td>
             </tr>
             <tr>
               <td>Account name: </td>
               <td><%= f.text_field  :ol_8 %> </td>
             </tr>
           </table>
           </div>
           <hr>
           <h3>News related Twitter accounts whose Tweets you value on news related topics. </h3>
           <div id="opinion_leader_text">
             <table>
             <tr>
               <td>Account name: </td>
               <td><%= f.text_field  :ol_9 %> </td>
             </tr>
             <tr>
               <td>Account name: </td>
               <td><%= f.text_field  :ol_10 %> </td>
             </tr>
           </table>
           </div>
           <hr>
             <h3>Please estimate, which account of your Twitter followees has the most followers. </h3>
           <div id="opinion_leader_text">
           <table>
             <tr>
               <td>In General: </td>
               <td><%= f.text_field :ol_11 %> </td>
             </tr>
             <tr>
               <td>News related: </td>
               <td><%= f.text_field  :ol_12 %> </td>
             </tr>
           </table>
           </div>
     <div style="color: #fff;"> <%= @user.leader_text %></div>
<hr>
    

  