 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part VIII: YOUR TWITTER FOLLOWEES II</h2>

</TD>


<TD ALIGN="RIGHT">
9/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.59,true,true) %>
</TD>

</TR>
</TABLE>
<hr>
 <h3>Think about the Twitter accounts, that you approach for political information or advice.
           
           <% if @user.leader_text != "" %> <div id="ol">You mentioned e.g. <%= @user.leader_text %>.</div><%end%>
           Let me know how you chose them.</h3>
           <i>You can select more than one reason.</i>
            <div style="padding-left: 20px;" class="randomordercontent group1">
           <p>
                      <p>
                                 <%= f.check_box :heard_mass_media, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them through mass media channels (Tv, radio, newspaper, magazines) and searched for their Twitter accounts.
                      </p>
                      <p>
                                 <%= f.check_box :knew_colleagues, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I knew them before because they are/were colleagues.
                      </p>
                      <p>
                                 <%= f.check_box :read_retweet, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I read a retweeted message on Twitter, which was initially written by one of the Twitter accounts I approach for political information or advice.
                      </p>
                      <p>
                                 <%= f.check_box :came_accross_wtf, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I came across them through the 'Who to follow' category on Twitter.
                      </p>
                      <p>
                                 <%= f.check_box :knew_aquaintances, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I knew them before because they are acquaintances and I searched for their Twitter accounts.           
                      </p>
                      <p>
                                 <%= f.check_box :came_across_bc, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I came across them through the 'Browse Categories' section on Twitter.
                      </p>
                      <p>              
                                 <%= f.check_box :heard_friends_write, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them because my friends wrote about them.
                      
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_heard_friends_write').checked){
                                                document.getElementById('heard_friends_write_nf_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('heard_friends_write_nf_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_heard_friends_write'), 0.3, function(form, value){
                                       if ($('user_heard_friends_write').checked) {
                                        Effect.SlideDown('heard_friends_write_nf_div');
                                       }
                                       else {
                                       document.getElementById('heard_friends_write_nf_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="heard_friends_write_nf_div" style="padding-left: 40px;" >
                                                       How many friends of yours were writing about the mentioned accounts before you followed the accounts?
                                                       <%= select(:user, :heard_friends_write_nf, FRIENDS_NUMBER)  %> 
                                 </div>
                      </p>
                      <p>
                                 <%= f.check_box :met_informal, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I met them at informal gatherings and searched for the Twitter account afterwards.
                      </p>
                      <p>
                                 <%= f.check_box :knew_friends, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I knew them before because they are friends.
                      </p>
                      <p>
                                 <%= f.check_box :heard_friends_interact, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them because my friends were interacting with them.
                      
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_heard_friends_interact').checked){
                                                document.getElementById('heard_friends_interact_nf_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('heard_friends_follow_nf_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_heard_friends_interact'), 0.3, function(form, value){
                                       if ($('user_heard_friends_interact').checked) {
                                        Effect.SlideDown('heard_friends_interact_nf_div');
                                       }
                                       else {
                                       document.getElementById('heard_friends_interact_nf_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="heard_friends_interact_nf_div" style="display: none;padding-left: 40px;">
                                                       How many friends of yours were interacting with the mentioned accounts before you followed the accounts?
                                                       <%= select(:user, :heard_friends_interact_nf, FRIENDS_NUMBER)  %> 
                                 </div>
                      </p>
                      <p>
                                 <%= f.check_box :read_reply, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I read an @-mention to the person in a Tweet.
                      </p>
                      <p>
                                 <%= f.check_box :came_across_twitter_list, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I came across them because they were members of Twitter lists.
                      </p>
                      <p>
                                 <%= f.check_box :heard_internet, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them through Internet media channels (blogs, social network sites, forums etc.) and searched for their Twitter accounts afterwards.
                      </p>
                      <p>
                                 <%= f.check_box :came_across_same_intrest, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I came across them because they had the same interests as me.
                      </p>
                      <p>
                                 <%= f.check_box :heard_friends_recommend, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them because my friends recommended them.
                      
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_heard_friends_recommend').checked){
                                                document.getElementById('heard_friends_recommend_nf_div').style.display='block';
                                            }
                                            else {
                                            document.getElementById('heard_friends_recommend_nf_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_heard_friends_recommend'), 0.3, function(form, value){
                                       if ($('user_heard_friends_recommend').checked) {
                                        Effect.SlideDown('heard_friends_recommend_nf_div');
                                       }
                                       else {
                                       document.getElementById('heard_friends_recommend_nf_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="heard_friends_recommend_nf_div" style="display: none;padding-left: 40px;" >
                                                       How many friends of yours were recommending the mentioned accounts before you followed the accounts?
                                                       <%= select(:user, :heard_friends_recommend_nf, FRIENDS_NUMBER)  %> 
                                 </div>
                      </p>
                      <p>
                                 <%= f.check_box :met_formal, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I met them at formal meetings and searched for the Twitter account afterwards.        
                      </p>
                      <p>
                                 <%= f.check_box :came_across_stories, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I came across them through the tailored tweets section at the discover page on Twitter.        
                      </p>
                      <p>
                                 <%= f.check_box :heard_friends_follow, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 I heard of them because my friends were following them.
                      
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_heard_friends_follow').checked){
                                                document.getElementById('heard_friends_follow_nf_div').style.display='';
                                            }
                                            else {
                                            document.getElementById('heard_friends_follow_nf_div').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_heard_friends_follow'), 0.3, function(form, value){
                                       if ($('user_heard_friends_follow').checked) {
                                        Effect.SlideDown('heard_friends_follow_nf_div');
                                       }
                                       else {
                                       document.getElementById('heard_friends_follow_nf_div').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="heard_friends_follow_nf_div" style="display: none;padding-left: 40px;" >
                                                       How many friends of yours were following the mentioned accounts before you followed the accounts?
                                                       <%= select(:user, :heard_friends_follow_nf, FRIENDS_NUMBER)  %> 
                                 </div>
                      </p>
                      <p>
                                 <%= f.check_box :other_reasons, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Other reasons:  <%= f.text_field :other_reasons_txt%>      
                      </p>
                      
                                   
           
           </p>
           </div>
<hr>