<TABLE width="100%">
  <TR>
    <TD ALIGN="LEFT">
      <h2>Part I: Your Reqirements</h2>
    </TD>
    <TD ALIGN="RIGHT">
      1/14 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.01,true,true) %>
    </TD>
  </TR>
</TABLE>
<hr>

  <h3>How would you describe your English skills?</h3>
  <i> For further explanations, move your cursor to the particular expression </i>

<table>
    <tr>
      <td><%= f.radio_button :language, 1  %></td>
      <td  	onmouseover="this.innerHTML = 'I do not speak English.'"
 		onmouseout="this.innerHTML = 'Beginner'">Beginner</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 2 %></td>
      <td 	onmouseover="this.innerHTML = 'I can say and understand a few things in English.'"
 		onmouseout="this.innerHTML = 'Elementary'">Elementary</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 3 %></td>
      <td   	onmouseover="this.innerHTML = 'I can communicate simply and understand conversations in familiar situations but only with some difficulty.'"
 		onmouseout="this.innerHTML = 'Pre-intermediate'">Pre-intermediate</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 4 %></td>
      <td   	onmouseover="this.innerHTML = 'I can make simple sentences and can understand the main points of a conversation but need much more vocabulary.'"
 		onmouseout="this.innerHTML = 'Low intermediate'">Low intermediate</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 5 %></td>
      <td   	onmouseover="this.innerHTML = 'I can speak and understand reasonably well and can use basic tenses but have problems with more complex grammar and vocabulary.'"
 		onmouseout="this.innerHTML = 'Intermediate'">Intermediate</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 6 %></td>
      <td   	onmouseover="this.innerHTML = 'I can communicate without much difficulty but still make quite a lot of mistakes and misunderstand sometimes'"
 		onmouseout="this.innerHTML = 'Upper intermediate'">Upper intermediate</td> 
   </tr>   
   <tr>
      <td><%= f.radio_button :language, 7 %></td>
      <td   	onmouseover="this.innerHTML = 'I speak and understand well but still make mistakes and fail to make myself understood occasionally.'"
 		onmouseout="this.innerHTML = 'Pre-advanced'">Pre-advanced</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 8 %></td>
      <td   	onmouseover="this.innerHTML = 'I speak and understand very well but sometimes have problems with unfamiliar situations and vocabulary.'"
 		onmouseout="this.innerHTML = 'Advanced'">Advanced</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 9 %></td>
      <td   	onmouseover="this.innerHTML = 'I speak and understand English completely fluently.'"
 		onmouseout="this.innerHTML = 'Very advanced'">Very advanced</td> 
   </tr>
   <tr>
      <td><%= f.radio_button :language, 10 %></td>
      <td   	onmouseover="this.innerHTML = 'I am a native English speaker.'"
 		onmouseout="this.innerHTML = 'First language'">First language</td> 
   </tr>
</table>  
<hr>

  <h3>Do you have an active Twitter account?</h3>
  <%= f.radio_button :twitter_account, 0 %>
  <%= f.label :no, "No, I don't have a Twitter account." %><br>
  <%= f.radio_button :twitter_account, 1 %>
  <%= f.label :inaktiv, "I do have an Twitter account, but I don't use it anymore." %><br>
  <%= f.radio_button :twitter_account, 2 %>
  <%= f.label :active, "Yes, I do have a Twitter account and use it." %><br>
  

<hr>
<h3>What news topics do you share on Twitter most (1: most shared topic, 17: less shared topic)? <br>Please rank at least your 5 most shared topics.</h3>
<h4><i>Please rank the following items by dragging and dropping.</i></h4>
<table>
  <tr>
    <td class="columnleft">
    
      <ul style="list-style-type: none; width: 30px;">
	<li class="listnummern" >1.</li>
	<li class="listnummern" >2.</li>
	<li class="listnummern" >3.</li>
	<li class="listnummern" >4.</li>
	<li class="listnummern" >5.</li>
	<li class="listnummern">6.</li>
	<li class="listnummern">7.</li>
	<li class="listnummern">8.</li>
	<li class="listnummern">9.</li>
	<li class="listnummern">10.</li>
	<li class="listnummern">11.</li>
	<li class="listnummern">12.</li>
	<li class="listnummern">13.</li>
	<li class="listnummern">14.</li>
	<li class="listnummern">15.</li>
	<li class="listnummern">16.</li>
	<li class="listnummern">17.</li>
	<li class="listnummern" style="background-size: contain;background-image: url('../images/streifen.png');">  </li>
	<li class="listnummern" style="background-size: contain;background-image: url('../images/streifen.png');">  </li>
	<li class="listnummern" style="background-size: contain;background-image: url('../images/streifen.png');">  </li>
	<li class="listnummern" style="background-size: contain;background-image: url('../images/streifen.png');">  </li>
	<li class="listnummern" style="background-size: contain;background-image: url('../images/streifen.png');">  </li>
	
      </ul>
    </td>
    <td class="columnright">     
	<ul class="sortabledemo" id="secondlist" style="list-style-type: none; width: 300px;" >
	  
	  <% @user.interest_list.each do |interest| %>
	    <li class="secondlist_secondlist" id="secondlist_<%= interest %>"
		onMouseover="document.getElementById ('explanation<%= interest %>').style.display='block';"  
		onMouseout="document.getElementById('explanation<%= interest %>').style.display='none';">
	      <div class="handle" style="width: 300px;" > <%= TOPICS[interest] %> </div>
		      
	    </li>
	  
	  <% end %>
	</ul>
    </td>
    <td id="explanation0" style="display: none; padding-left: 100px; vertical-align: top;" >This is a placeholder. Please drag at least your 5 most shared topics to the the top of the placeholder. <br><br>If you like, you can rate more or even all topics. You can use the placeholder to separate the sorted topics from the others.</td>
  
    <td id="explanation1" style="display: none; padding-left: 100px; vertical-align: top;" ><b><u>Arts, Culture & Entertainment could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Archaeology</li>	 
									  <li>Architecture </li>	 
									  <li>Bullfighting	 </li>
									  <li>Festive Events (including Carnivals) </li>	 
									  <li>Cinema	 </li>
									  <li>Dance	 </li>
									  <li>Fashion	 </li>
									  <li>Language	</li> 
									  <li>Libraries & Museums</li>	 
									  <li>Literature	 </li>
									  <li>Music	 </li>
									  <li>Painting	</li> 
									  <li>Photography	 </li>
									  <li>Radio	 </li>
									  <li>Sculpture	</li> 
									  <li>Television	 </li>
									  <li>Theatre	 </li>
									  <li>Monuments & Heritage Sites </li>	 
									  <li>Customs & Traditions	 </li>
									  <li>Arts (general)	 </li>
									  <li>Entertainment (general)</li>	 
									  <li>Culture (general)	 </li>
									  <li>Nightclubs	 </li>
									  <li>Cartoon	 </li>
									  <li>Animation</li>
									</ul>
    </td>
    <td id="explanation2" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Crime, Law & Justice could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Crime</li>	 
									  <li>Judiciary (system of justice)</li>	 
									  <li>Police	</li> 
									  <li>Punishment</li>	 
									  <li>Prison	 </li>
									  <li>Laws	 </li>
									  <li>Justice & Rights</li>	 
									  <li>Trials	 </li>
									  <li>Prosecution	 </li>
									  <li>Organized Crime</li>
		      						</ul>
    </td>
    <td id="explanation3" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Disasters & Accidents could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Drought	 </li>
									  <li>Earthquake	 </li>
									  <li>Famine	 </li>
									  <li>Fire	 </li>
									  <li>Flood	 </li>
									  <li>Industrial accident	</li> 
									  <li>Meteorological disaster</li>	 
									  <li>Nuclear accident	 </li>
									  <li>Pollution	 </li>
									  <li>Transport accident	 </li>
									  <li>Volcanic eruption	 </li>
									  <li>Relief & Aid Organisations	</li> 
									  <li>Accidents (general)	 </li>
									  <li>Emergency Incidents	 </li>
									  <li>Disasters (general)	 </li>
									  <li>Emergency Planning</li>
									</ul>
    </td>
    <td id="explanation4" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Economy, Business & Finance could be related to the following industries:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Agriculture</li>	 
									  <li>Chemicals </li>	 
									  <li>Computing & Information Technology </li>
									  <li>Construction & Property	 </li>
									  <li>Energy & Resources	 </li>
									  <li>Financial & Business Services</li>	 
									  <li>Consumer Goods	 </li>
									  <li>Macro Economics	 </li>
									  <li>Markets & Exchanges	 </li>
									  <li>Media	 </li>
									  <li>Metal Goods & Engineering	</li> 
									  <li>Metals & Minerals	 </li>
									  <li>Process Industries	 </li>
									  <li>Tourism & Leisure	 </li>
									  <li>Transport	 </li>
									  <li>Company Information </li>
									</ul>
    </td>
    <td id="explanation5" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Education could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Adult Education	</li> 
									  <li>Further Education	 </li>
									  <li>Parent Organisations	</li> 
									  <li>Preschooling	 </li>
									  <li>Schools	 </li>
									  <li>Teachers Unions	</li> 
									  <li>University	 </li>
									  <li>Upbringing	 </li>
									  <li>Entrance Examination </li>
									</ul>
    </td>
    <td id="explanation6" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Environmental Issues could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Alternative Energy </li>	 
									  <li>Conservation	 </li>
									  <li>Energy Savings	 </li>
									  <li>Environmental Politics	 </li>
									  <li>Environmental pollution	 </li>
									  <li>Natural resources	 </li>
									  <li>Nature	 </li>
									  <li>Population	 </li>
									  <li>Waste	 </li>
									  <li>Water Supplies </li>
									</ul>
    </td>
    <td id="explanation7" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Health could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Diseases	 </li>
									  <li>Epidemic & Plague	 </li>
									  <li>Health treatment	 </li>
									  <li>Health organisations	 </li>
									  <li>Medical research	 </li>
									  <li>Medical staff	 </li>
									  <li>Medicines	 </li>
									  <li>Preventative medicine	 </li>
									  <li>Injuries	 </li>
									  <li>Hospitals & Clinics</li>
									</ul>
    </td>
    <td id="explanation8" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Human Interest could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Animals	 </li>
									  <li>Curiosities	 </li>
									  <li>People	 </li>
									  <li>Advice</li>
									  <li>Celebrities</li>
									  <li>Mysteries	 </li>
									  <li>Society	 </li>
									  <li>Awards and Prizes	 </li>
									  <li>Imperial, Royal Matters</li>
									</ul>
    </td>
    <td id="explanation9" style="display: none; padding-left: 100px; vertical-align: top;"><b><u>Labour could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Apprentices</li>	 
									  <li>Collective contracts	 </li>
									  <li>Employment	 </li>
									  <li>Labour dispute	 </li>
									  <li>Labour legislation	 </li>
									  <li>Retirement	 </li>
									  <li>Retraining	 </li>
									  <li>Strike	 </li>
									  <li>Unemployment	 </li>
									  <li>Unions	 </li>
									  <li>Wages & Pensions	 </li>
									  <li>Work Relations	 </li>
									  <li>Health & Safety at Work	</li> 
									  <li>Advanced Training	 </li>
									  <li>Employers	 </li>
									  <li>Employees</li>
									</ul>
    </td>
    <td id="explanation10" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Lifestyle & Leisure could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Games	</li> 
									  <li>Gaming & Lotteries	 </li>
									  <li>Gastronomy	 </li>
									  <li>Hobbies	 </li>
									  <li>Holidays or vacations	 </li>
									  <li>Tourism	 </li>
									  <li>Travel & Commuting	 </li>
									  <li>Clubs & Associations	 </li>
									  <li>Lifestyle (House & Home)	 </li>
									  <li>Leisure (general)	 </li>
									  <li>Public Holidays	 </li>
									  <li>Hunting	 </li>
									  <li>Fishing</li>
									</ul>
    </td>
    <td id="explanation11" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Politics could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Defence	</li> 
									  <li>Diplomacy	 </li>
									  <li>Elections	 </li>
									  <li>Espionage & Intelligence	 </li>
									  <li>Foreign Aid	 </li>
									  <li>Government	 </li>
									  <li>Human Rights	 </li>
									  <li>Local authorities	 </li>
									  <li>Parliament	 </li>
									  <li>Parties	 </li>
									  <li>Refugees	 </li>
									  <li>Regional authorities	 </li>
									  <li>State Budget & Taxes	 </li>
									  <li>Treaties & International Organisations	</li> 
									  <li>Constitution	 </li>
									  <li>Interior Policies	 </li>
									  <li>Migration	 </li>
									  <li>Citizens Initiative & Recall</li>	 
									  <li>Referenda	 </li>
									  <li>Nuclear Policies	 </li>
									  <li>Lobbying</li>
									</ul>
    </td>
    <td id="explanation12" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Religion & Belief could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Cults & sects	</li> 
									  <li>Belief (Faith)	 </li>
									  <li>Free masonry	 </li>
									  <li>Religions	 </li>
									  <li>Churches (organisations)</li>
									</ul>
    </td>
    <td id="explanation13" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Science & Technology could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Applied Sciences	 </li>
									  <li>Engineering	 </li>
									  <li>Human Sciences	 </li>
									  <li>Natural Sciences	 </li>
									  <li>Philosophical Sciences	 </li>
									  <li>Research	 </li>
									  <li>Scientific exploration	</li> 
									  <li>Space programmes	 </li>
									  <li>Science (general)	 </li>
									  <li>Technology (general)</li>
									</ul>
    </td>
    <td id="explanation14" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Social Issues could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Addiction	 </li>
									  <li>Charity	 </li>
									  <li>Demographics	 </li>
									  <li>Disabled	 </li>
									  <li>Euthanasia (also includes Assisted Suicide)	 </li>
									  <li>Family	 </li>
									  <li>Family planning	 </li>
									  <li>Health insurance	 </li>
									  <li>Homelessness	 </li>
									  <li>Minority groups	 </li>
									  <li>Pornography	 </li>
									  <li>Poverty	 </li>
									  <li>Prostitution	 </li>
									  <li>Racism	 </li>
									  <li>Welfare	 </li>
									  <li>Abortion	 </li>
									  <li>Missing Persons	 </li>
									  <li>Long Term Care	 </li>
									  <li>Juvenile Delinquency	</li> 
									  <li>Nuclear Radiation Victims</li>
									</ul>
    </td>
    <td id="explanation15" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Sport could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Sports Events  </li>
									  <li>Sports Organisations </li>
									  <li>Sports e.g.:	 </li>
									  <ul style="padding-left: 20px;">
									      <li>Aero and Aviation Sports	 </li>
									      <li>American Football	 </li>
									      <li>Archery	 </li>
									      <li>Athletics, Track & Field	</li> 
									      <li>Badminton	 </li>
									      <li>Baseball	 </li>
									      <li>Basketball	</li> 
									      <li>Biathlon	 </li>
									      <li>Billiards, Snooker and Pool</li>	 
									      <li>Bobsleigh	 </li>
									      <li>Bowling	 </li>
									      <li>Bowls & Petanque </li>	 
									      <li>Boxing	 </li>
									      <li>Canoeing & Kayaking </li>	 
									      <li>Climbing	  </li>	 
									      <li>Cricket	  </li>	 
									      <li>Curling	  </li>	 
									      <li>Cycling	  </li>	 
									      <li>Dancing	  </li>	 
									      <li>Diving	  </li>	 
									      <li>Equestrian	  </li>	 
									      <li>Fencing	  </li>	 
									      <li>...	  </li>
									  </ul>
									</ul>
    </td>
    <td id="explanation16" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Unrest, Conflicts & War could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Acts of terror	</li> 
									  <li>Armed conflict	 </li>
									  <li>Civil unrest	 </li>
									  <li>Coup d'Etat	 </li>
									  <li>Guerrilla activities	 </li>
									  <li>Massacre	 </li>
									  <li>Riots	 </li>
									  <li>Violent demonstrations	 </li>
									  <li>War	 </li>
									  <li>Conflicts (general)	 </li>
									  <li>Crisis</li>
									</ul>
    </td>
    <td id="explanation17" style="display: none; padding-left: 100px; vertical-align: top;"> <b><u>Weather could be related to:</u></b>
									<br>
									<ul style="padding-left: 40px;">
									  <li>Forecasts	 </li>
									  <li>Global change	 </li>
									  <li>Reports	 </li>
									  <li>Statistics	 </li>
									  <li>Warnings</li>
									</ul>
    </td>

  </tr>
</table>
<%= sortable_element :secondlist,
		     :handle => 'handle',
		     :ghosting => 'true',
		     :url => { :action => 'repeat'}
		     
%>
<hr>

