 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part V: Your Sources in general </h2>

</TD>


<TD ALIGN="RIGHT" width=400px>
           <%= progress_bar("my_sixty_percent_progress_bar",0.60,true,true) %>
</TD>

</TR>
</TABLE>
<hr>
<p>
<h3>How important are the following resources when you need information on a topic related to political news <b>quickly</b>?</h3>
           <table width="100%" class="hovertable">
                      <tr>
                                 <td colspan="2"></td>
                                 <td colspan="5" align="center" ><b>Level of importance</b></td>
                      </tr>
                      <tr style="text-align: center;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>

    
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;" colspan="2">
                                    <b >Traditional mass media offline </b><br>
                                    (e.g.: television, radio, magazines, newspaper)</td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;" >
                                    <%= f.radio_button :trad_mass_med_offline, 1 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                    <%= f.radio_button :trad_mass_med_offline, 2 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                    <%= f.radio_button :trad_mass_med_offline, 3 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                    <%= f.radio_button :trad_mass_med_offline, 4 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                    <%= f.radio_button :trad_mass_med_offline, 5 %></td>
                      
                            
                      </tr>
                                 <tr id="usertrad_mass_med_offline_sub_selection" style="display:none">
                                 <td width="3%" align="right" valign="top"><img  id="pfeil1" src='../images/pfeil_grau.png' style="height: 45px; width: 45px;"></td>
                                 <td colspan="6" style="background-color: #f2f2f2;">
                                            <%= render "usertrad_mass_med_offline_sub_selection", :f => f%>
                                 </td>
                      </tr>
                      <script type="text/javascript">                                 
                      //<![CDATA[
                       Event.observe(window, 'load', function() {
                                 if ($('user_trad_mass_med_offline_1').checked || $('user_trad_mass_med_offline_2').checked){
                                     Effect.SlideDown('usertrad_mass_med_offline_sub_selection',{duration : 3.0});
                                     Effect.SlideDown('scala_mmo',{duration : 3.0});
                                 };
                       });
                       new Form.Element.Observer($('user_trad_mass_med_offline_1'), 0.3, function(form, value){
                            if (value == 1) {
                             Effect.SlideDown('usertrad_mass_med_offline_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_mmo',{duration : 3.0});
                            }
                            else {
                            document.getElementById('usertrad_mass_med_offline_sub_selection').style.display='none';
                            document.getElementById('scala_mmo').style.display='none';
                            }
                        });
                       new Form.Element.Observer($('user_trad_mass_med_offline_2'), 0.3, function(form, value){
                            if (value == 2) {
                             Effect.SlideDown('usertrad_mass_med_offline_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_mmo',{duration : 3.0});
                            }
                            else {
                            document.getElementById('usertrad_mass_med_offline_sub_selection').style.display='none';
                            document.getElementById('scala_mmo').style.display='none';
                            }
                        });
                      //]]>
                      </script>
                      
                      <tr id="scala_mmo" style="text-align: center;display: none;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>
                      
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;" colspan="2">
                                   <b>Traditional mass media online:</b></br>
                                   (e.g.: websites/mediaoutlets in social networks or microblogs/rss feeds/newsletters of television, radio, magazines, newspaper)</td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :trad_mass_med_online, 1 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :trad_mass_med_online, 2 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :trad_mass_med_online, 3 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :trad_mass_med_online, 4 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :trad_mass_med_online, 5 %></td>
                                     
                      </tr>
                                                               
                      <tr id="usertrad_mass_med_online_sub_selection" style="display:none">
                                 <td width="3%" align="right" valign="top"><img  id="pfeil1" src='../images/pfeil_grau.png' style="height: 45px; width: 45px;"></td>
                                 <td colspan="6" style="background-color: #f2f2f2;">
                                            <%= render "usertrad_mass_med_online_sub_selection", :f => f%>
                                 </td>
                      </tr>
                      <script type="text/javascript">                                 
                      //<![CDATA[
                       Event.observe(window, 'load', function() {
                                 if ($('user_trad_mass_med_online_1').checked || $('user_trad_mass_med_online_2').checked){
                                     Effect.SlideDown('usertrad_mass_med_online_sub_selection',{duration : 3.0});
                                     Effect.SlideDown('scala_mmon',{duration : 3.0});
                                 };
                       });
                       new Form.Element.Observer($('user_trad_mass_med_online_1'), 0.3, function(form, value){
                            if (value == 1) {
                             Effect.SlideDown('usertrad_mass_med_online_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_mmon',{duration : 3.0});
                            }
                            else {
                            document.getElementById('usertrad_mass_med_online_sub_selection').style.display='none';
                            document.getElementById('scala_mmon').style.display='none';
                            }
                        });
                       new Form.Element.Observer($('user_trad_mass_med_online_2'), 0.3, function(form, value){
                            if (value == 2) {
                             Effect.SlideDown('usertrad_mass_med_online_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_mmon',{duration : 3.0});
                            }
                            else {
                            document.getElementById('usertrad_mass_med_online_sub_selection').style.display='none';
                            document.getElementById('scala_mmon').style.display='none';
                            }
                        });
                      //]]>
                      </script>
                      <tr id="scala_mmon" style="text-align: center;display: none;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;" colspan="2">
                                    <b>Personal contact (offline): </b><br>
                                    (e.g.: others that are interested in same topic, locals/eyewitnesses, aquaintances, friends, colleagues, experts/specialists,  opinion leader of your community)</td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_offline, 1 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_offline, 2 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_offline, 3 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_offline, 4 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_offline, 5 %></td>
                             
                      </tr>                                          
                      <tr id="user_person_contact_offline_sub_selection" style="display:none">
                                 <td width="3%" align="right" valign="top"><img  id="pfeil1" src='../images/pfeil_grau.png' style="height: 45px; width: 45px;"></td>
                                 <td colspan="6" style="background-color: #f2f2f2;">
                                            <%= render "user_person_contact_offline_sub_selection", :f => f%>
                                 </td>
                      </tr>
                      <script type="text/javascript">                                 
                      //<![CDATA[
                       Event.observe(window, 'load', function() {
                                 if ($('user_person_contact_offline_1').checked || $('user_person_contact_offline_2').checked){
                                     Effect.SlideDown('user_person_contact_offline_sub_selection',{duration : 3.0});
                                     Effect.SlideDown('scala_pco',{duration : 3.0});
                                 };
                       });
                       new Form.Element.Observer($('user_person_contact_offline_1'), 0.3, function(form, value){
                            if (value == 1) {
                             Effect.SlideDown('user_person_contact_offline_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_pco',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_person_contact_offline_sub_selection').style.display='none';
                            document.getElementById('scala_pco').style.display='none';
                            }
                        });
                       new Form.Element.Observer($('user_person_contact_offline_2'), 0.3, function(form, value){
                            if (value == 2) {
                             Effect.SlideDown('user_person_contact_offline_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_pco',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_person_contact_offline_sub_selection').style.display='none';
                            document.getElementById('scala_pco').style.display='none';
                            }
                        });
                      //]]>
                      </script>
                      <tr id="scala_pco" style="text-align: center;display: none;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;" colspan="2">
                                    <b>Personal contact (online): </b></br>
                                    (e.g.: email/social network/microblogging/forums/chat with others that are interested in same topic, locals/eyewitnesses, aquaintances, friends, colleagues, experts/specialists,  opinion leader of your community)</td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_online, 1 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_online, 2 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_online, 3 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_online, 4 %></td>
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :person_contact_online, 5 %></td>
                                     
                      </tr>                                          
                      <tr id="user_person_contact_online_sub_selection" style="display:none">
                                 <td width="3%" align="right" valign="top"><img  id="pfeil1" src='../images/pfeil_grau.png' style="height: 45px; width: 45px;"></td>
                                 <td colspan="6" style="background-color: #f2f2f2;">
                                            <%= render "user_person_contact_online_sub_selection", :f => f%>
                                 </td>
                      </tr>
                      <script type="text/javascript">                                 
                      //<![CDATA[
                       Event.observe(window, 'load', function() {
                                 if ($('user_person_contact_offline_1').checked || $('user_person_contact_online_2').checked){
                                     Effect.SlideDown('user_person_contact_online_sub_selection',{duration : 3.0});
                                     Effect.SlideDown('scala_pcon',{duration : 3.0});
                                 };
                       });
                       new Form.Element.Observer($('user_person_contact_online_1'), 0.3, function(form, value){
                            if (value == 1) {
                             Effect.SlideDown('user_person_contact_online_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_pcon',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_person_contact_online_sub_selection').style.display='none';
                            document.getElementById('scala_pcon').style.display='none';
                            }
                        });
                       new Form.Element.Observer($('user_person_contact_online_2'), 0.3, function(form, value){
                            if (value == 2) {
                             Effect.SlideDown('user_person_contact_online_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_pcon',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_person_contact_online_sub_selection').style.display='none';
                            document.getElementById('scala_pcon').style.display='none';
                            }
                        });
                      //]]>
                      </script>
                      <tr id="scala_pcon" style="text-align: center;display: none;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;" colspan="2">
                                   <b> Self aggregated news: </b><br>
                                   (e.g.: blogs, search engine, government sites, community sites)</td>
                                 <td <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :self_aggregated, 1 %></td>
                                 <td <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :self_aggregated, 2 %></td>
                                 <td <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :self_aggregated, 3 %></td>
                                 <td <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :self_aggregated, 4 %></td>
                                 <td <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
                                   <%= f.radio_button :self_aggregated, 5 %></td>
                                     
                      </tr>                                           
                      <tr id="user_aggregated_sub_selection" style="display:none">
                                 <td width="3%" align="right" valign="top"><img  id="pfeil1" src='../images/pfeil_grau.png' style="height: 45px; width: 45px;"></td>
                                 <td colspan="6" style="background-color: #f2f2f2;">
                                            <%= render "user_aggregated_sub_selection", :f => f%>
                                 </td>
                      </tr>
                      <script type="text/javascript">                                 
                      //<![CDATA[
                       Event.observe(window, 'load', function() {
                                 if ($('user_self_aggregated_1').checked || $('user_self_aggregated_2').checked){
                                     Effect.SlideDown('user_aggregated_sub_selection',{duration : 3.0});
                                     Effect.SlideDown('scala_pcon',{duration : 3.0});
                                 };
                       });
                       new Form.Element.Observer($('user_self_aggregated_1'), 0.3, function(form, value){
                            if (value == 1) {
                             Effect.SlideDown('user_aggregated_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_san',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_aggregated_sub_selection').style.display='none';
                            document.getElementById('scala_san').style.display='none';
                            }
                        });
                       new Form.Element.Observer($('user_self_aggregated_2'), 0.3, function(form, value){
                            if (value == 2) {
                             Effect.SlideDown('user_aggregated_sub_selection',{duration : 3.0});
                             Effect.SlideDown('scala_san',{duration : 3.0});
                            }
                            else {
                            document.getElementById('user_aggregated_sub_selection').style.display='none';
                            document.getElementById('scala_san').style.display='none';
                            }
                        });
                      //]]>
                      </script>
                      <tr id="scala_san" style="text-align: center;display: none;" >
                                 <td width="50%" colspan="2"></td>
                                 <td width="10%">Very</td>
                                 <td width="10%">Moderately</td>
                                 <td width="10%">Somewhat</td>
                                 <td width="10%">Not</td>
                                 <td width="10%">Don't know</td>
                      </tr>
                      <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
                                 <td colspan="2">
                                   <b> Other sources: </b></br>
                                   <%= f.text_field :other_sources_txt%></td>
                                 <td style="text-align: center;">
                                   <%= f.radio_button :other_sources, 1 %></td>
                                 <td style="text-align: center;">
                                   <%= f.radio_button :other_sources, 2 %></td>
                                 <td style="text-align: center;">
                                   <%= f.radio_button :other_sources, 3 %></td>
                                 <td style="text-align: center;">
                                   <%= f.radio_button :other_sources, 4 %></td>
                                 <td style="text-align: center;">
                                   <%= f.radio_button :other_sources, 5 %></td>
                                     
                      </tr>
           </table> 
</p>           
           
<hr>