 <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part VIII: Your Sources in Detail</h2>

</TD>


<TD ALIGN="RIGHT">
8/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.54,true,true) %>
</TD>

</TR>
</TABLE>
<hr>
  <% if @user.rank_source.nil? %>
    <h3>You didn't rank any resources that are important for you when you need information on a topic related to news quickly.</h3>
    <h4>Please insert the resources you would like to add in the text area.</h4>
  <%= f.text_area :other_sources_txt, :cols => 40, :rows => 10 %>
  <% elsif @user.rank_source[0] == "1" %>
    <h3>You mentioned traditional mass media are very important when you need information on a topic related to news quickly.</h3>
  <%= render "sub_selection_trad_mass_med", :f => f%>
  <% elsif @user.rank_source[0] == "2" %>
    <h3>You mentioned personal contact is very important when you need information on a topic related to news quickly.</h3>
  <%= render "sub_selection_person_contact", :f => f%>
  <% elsif @user.rank_source[0] == "3" %>
    <h3>You mentioned self-aggregated news are very important when you need information on a topic related to news quickly.</h3>
  <%= render "sub_selection_user_aggregated", :f => f%>
  <% elsif @user.rank_source[0] == "4" %>
    <h3>You mentioned other resources are very important when you need information on a topic related to news quickly.</h3>
    <h4>Please insert the resources in the text area.</h4>
  <%= f.text_area :other_sources_txt, :cols => 40, :rows => 10 %>
  
<%end%>