
<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part XI: Evaluation of the Simulation</h2>

</TD>


<TD ALIGN="RIGHT">
  


            
11/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.96,true,true) %>
            


</TD>

</TR>
</TABLE>

</p>

<hr>
 <h3>Did you recognize any errors in the simulation?</h3>
 <%= f.radio_button :any_mistakes, 1 %>
  <%= f.label :no, "No" %>
  <%= f.radio_button :any_mistakes, 2 %>
  <%= f.label :dno, "Don't know" %>
  <%= f.radio_button :any_mistakes, 3 %>
  <%= f.label :yes, "Yes" %>

<script type="text/javascript">
//<![CDATA[
Event.observe(window, 'load', function() {
                                 if ($('user_any_mistakes_2').checked){
                                     Effect.Appear('others_any_mistake',{duration : 3.0});
                                 };
                       });
 new Form.Element.Observer($('user_any_mistakes_2'), 0.3, function(form, value){
      if (value == 2) {
       Effect.SlideDown('others_any_mistake')
      }
      else {
      document.getElementById('others_any_mistake').style.display='none';
      }
  });
//]]>
</script>
<div id="others_any_mistake" style="display:none; left:20px;">
Please list any mistake you can remember (e.g. message didn't expand, message expanded to slowly etc.).
<%= f.text_area :mistake_txt, :rows => 4, :value =>text, :style => 'color:grey;', :onclick =>"this.style.color='black'" %>
</p>
</div>

<hr>
 <h3>Please evaluate how clearly the following two aspects were explained in the questionnaire/simulation.</h3>
<table width="100%" class="hovertable">

    <tr style="text-align: center;" >
      <td ></td>
      <td width="15%">Very clearly explained</td>
      <td width="15%">Moderately clearly explained</td>
      <td width="15%">Somewhat clearly explained</td>
      <td width="15%">Not clearly explained</td>
      <td width="15%">Did not recognize the explanation at all</td>
    </tr>

    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td  style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
       No actions during the simulation affect your twitter account.</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :act_af_tw, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :act_af_tw, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :act_af_tw, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :act_af_tw, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :act_af_tw, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       User information is only used in anonymized form within a scientific context.</td>
      <td style="text-align: center;">
        <%= f.radio_button :uinf_an_sco, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :uinf_an_sco, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :uinf_an_sco, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :uinf_an_sco, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :uinf_an_sco, 5 %></td>
    </tr>
</table>

<hr>
 <h3>How difficult was it for you to ...</h3>
<table width="100%" class="hovertable">

    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Very difficult</td>
      <td width="10%">Difficult</td>
      <td width="10%">Moderately difficult</td>
      <td width="10%">Easy</td>
      <td width="10%">Very easy</td>
    </tr>

    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td  style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
       ...imagine you were on your real Twitter account while interacting with the simulation?</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td  style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
       ...act as if you were on your real Twitter account while interacting with the simulation?</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_act, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_act, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :irp_imagine, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       ...keep your real followers in mind even though they will not recognize your actions on the simulation?</td>
      <td style="text-align: center;">
        <%= f.radio_button :irp_keep, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :irp_keep, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :irp_keep, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :irp_keep, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :irp_keep, 5 %></td>
    </tr>
</table>

<hr>
 <h3>How sure of task fulfillment are you?</h3>
 <table width="100%" class="hovertable">
    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Very sure</td>
      <td width="10%">Sure</td>
      <td width="10%">Moderately sure</td>
      <td width="10%">Unsure</td>
      <td width="10%">Very unsure</td>
    </tr>

    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td  style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
      Task 1: Did you imagine you were on your real Twitter account while interacting with the simulation?</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_imagine, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_imagine, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_imagine, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_imagine, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_imagine, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td  style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
      Task 2: Did you act as if you were on your real Twitter account while interacting with the simulation?</td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_act, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_act, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_act, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_act, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= f.radio_button :cr_act, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       Task 3: Did you keep your real followers in mind even though they will not recognize your actions on the simulation?</td>
      <td style="text-align: center;">
        <%= f.radio_button :cr_keep, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cr_keep, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cr_keep, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cr_keep, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cr_keep, 5 %></td>
    </tr>
</table>
 
 <hr>
  <!-- -->
<%if all_missing_features > 0 &&  all_missing_features < 54 %>
 <h3>Unfortunately the simulation could not offer you all the features of Twitter, but it was asked that you act as if you were on your real Twitter account.<br><br>
 With this in your mind, would you use other features that were missing in the simulation?
 </h3>
           <i>Tip: You can select more than one feature.</i>
            <div style="padding-left: 20px;" class="randomordercontent group1">
           <p>
                      <% if @user.avg_private_replies != 6 %>
                      <p>
                                 <%= f.check_box :cbx_write, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Write direct messages
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_write').checked){
                                                document.getElementById('missing_feature_writing').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_writing').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_write'), 0.3, function(form, value){
                                       if ($('user_cbx_write').checked) {
                                        Effect.SlideDown('missing_feature_writing');
                                       }
                                       else {
                                       document.getElementById('missing_feature_writing').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_writing" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_writing", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_stories != 6 %>
                      <p>
                                 <%= f.check_box :cbx_discover_stories, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Reading tailored Tweets related to the topic presented on the discover page 
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_discover_stories').checked){
                                                document.getElementById('missing_feature_stories').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_stories').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_discover_stories'), 0.3, function(form, value){
                                       if ($('user_cbx_discover_stories').checked) {
                                        Effect.SlideDown('missing_feature_stories');
                                       }
                                       else {
                                       document.getElementById('missing_feature_stories').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_stories" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_stories", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_trend != 6 %>
                      <p>
                                 <%= f.check_box :cbx_discover_trends, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Discover trends related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_discover_trends').checked){
                                                document.getElementById('missing_feature_trends').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_trends').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_discover_trends'), 0.3, function(form, value){
                                       if ($('user_cbx_discover_trends').checked) {
                                        Effect.SlideDown('missing_feature_trends');
                                       }
                                       else {
                                       document.getElementById('missing_feature_trends').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_trends" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_trends", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_follow != 6 %> 
                      <p>
                                 <%= f.check_box :cbx_follow, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Follow new accounts related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_follow').checked){
                                                document.getElementById('missing_feature_follow').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_follow').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_follow'), 0.3, function(form, value){
                                       if ($('user_cbx_follow').checked) {
                                        Effect.SlideDown('missing_feature_follow');
                                       }
                                       else {
                                       document.getElementById('missing_feature_follow').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_follow" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_follow", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_unfollow_account != 6 %> 
                      <p>
                                 <%= f.check_box :cbx_unfollow, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Unfollow new accounts related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_unfollow').checked){
                                                document.getElementById('missing_feature_unfollow').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_unfollow').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_unfollow'), 0.3, function(form, value){
                                       if ($('user_cbx_unfollow').checked) {
                                        Effect.SlideDown('missing_feature_unfollow');
                                       }
                                       else {
                                       document.getElementById('missing_feature_unfollow').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_unfollow" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_unfollow", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_create_lists != 6 %>   
                      <p>
                                 <%= f.check_box :cbx_create_lists, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Create lists related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_create_lists').checked){
                                                document.getElementById('missing_feature_create_list').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_create_list').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_create_lists'), 0.3, function(form, value){
                                       if ($('user_cbx_create_lists').checked) {
                                        Effect.SlideDown('missing_feature_create_list');
                                       }
                                       else {
                                       document.getElementById('missing_feature_create_list').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_create_list" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_create_list", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_add_accounts_lists != 6 %>  
                      <p>
                                 <%= f.check_box :cbx_add_to_lists, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Add accounts to lists related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_add_to_lists').checked){
                                                document.getElementById('missing_feature_add_accounts_lists').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_add_accounts_lists').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_add_to_lists'), 0.3, function(form, value){
                                       if ($('user_cbx_add_to_lists').checked) {
                                        Effect.SlideDown('missing_feature_add_accounts_lists');
                                       }
                                       else {
                                       document.getElementById('missing_feature_add_accounts_lists').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_add_accounts_lists" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_add_accounts_lists", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_unsubscribe_lists != 6 %>  
                      <p>
                                 <%= f.check_box :cbx_unsubscribe_lists, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Unsubscribe from lists related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_unsubscribe_lists').checked){
                                                document.getElementById('missing_feature_unsubscribe_lists').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_unsubscribe_lists').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_unsubscribe_lists'), 0.3, function(form, value){
                                       if ($('user_cbx_unsubscribe_lists').checked) {
                                        Effect.SlideDown('missing_feature_unsubscribe_lists');
                                       }
                                       else {
                                       document.getElementById('missing_feature_unsubscribe_lists').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_unsubscribe_lists" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_unsubscribe_lists", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                    <% if @user.avg_subscribe_lists != 6 %>
                      <p>
                                 <%= f.check_box :cbx_subscribe_lists, :options => {}, :checked_value => "1", :unchecked_value => "0"%>
                                 Subscribe to lists related to the topic presented
                                 
                                 <script type="text/javascript">                                 
                                 //<![CDATA[
                                  Event.observe(window, 'load', function() {
                                            if ($('user_cbx_subscribe_lists').checked){
                                                document.getElementById('missing_feature_subscribe_lists').style.display='block';
                                            }
                                            else {
                                            document.getElementById('missing_feature_subscribe_lists').style.display='none';} 
                                  });
                                  new Form.Element.Observer($('user_cbx_subscribe_lists'), 0.3, function(form, value){
                                       if ($('user_cbx_subscribe_lists').checked) {
                                        Effect.SlideDown('missing_feature_subscribe_lists');
                                       }
                                       else {
                                       document.getElementById('missing_feature_subscribe_lists').style.display='none';
                                       }
                                   });
                                 //]]>
                                 </script>
                                 <div id="missing_feature_subscribe_lists" style="padding-left: 40px;" >
                                                       <%= render "missing_feature_subscribe_lists", :f => f%> 
                                 </div>
                      </p>
                    <% end %>
                <hr>
           <% end %>         

