<TABLE width="100%">
  <TR>
    <TD ALIGN="LEFT">
      <h2>Part XIV: Interest in Results and Contest Participation</h2>
    </TD>
    <TD ALIGN="RIGHT">
      14/14 parts: <%= progress_bar("my_sixty_percent_progress_bar",1.0,true,true) %>
    </TD>
  </TR>
</TABLE>
<hr>
<h3>Are you intrerested in the results of this survey?</h3>
<div id="opinion_leader">
  <%= f.radio_button :results, 1 %>
  <%= f.label :no, "not interested" %><br>
  <%= f.radio_button :results, 2 %>
  <%= f.label :yes, "interested" %><br>
  <br>
  </div>
 <hr>
<h3>If there is a similar survey or simulation, I will participate.</h3>
<div id="opinion_leader">
  <%= f.radio_button :teilnahme_weitere_befr, 1 %>
  <%= f.label :no, "No, I won't like to participate." %><br>
  <%= f.radio_button :teilnahme_weitere_befr, 2 %>
  <%= f.label :dontknow, "I don't know yet if I would like to participate." %><br>
  <%= f.radio_button :teilnahme_weitere_befr, 3 %>
  <%= f.label :yes, "Yes, I would like to participate." %><br>
  <br>
  </div>
<!--<hr>
<h3>Your participation code:</h3>
<div id="opinion_leader">
Number: <%= h @user.situation %>
</div>
<hr>
  <h3>Please enter your WorkerID.</h3>-->
<!--   <div id="opinion_leader"><nobr>WorkerID: <%= f.text_field :email %></nobr></div>
<br>-->
  <hr>
<h3>Please enter your email address if you are interested in the results or would like to take part in the contest.</h3>
 <div id="opinion_leader"><nobr>Email: <%= f.text_field :email %></nobr></div>
<br>
<hr>
  <h3>If you share this questionnaire with your friends or followers you will take part in another contest for a voutcher about 100 US$.</h3>
  <div class='spread'>
  <div class='twshare left'>
    <!--<%= link_to_remote image_tag('../images/compose_tweet_button.png',
                :mouseover => '../images/compose_tweet_button_mouseover.png'),
                :loading  => "$('tweet_sent').show(); $('tweet_sent').fade()",
                  :url => {:action => "close", :id => @user.id}
            %>-->
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="jana_254">Tweets</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
</div>
