
  <p>Used Seed.id: 
  <%= h @user.situation %>
  </p>
  <p>Used Seed: 
  <%= @user.seen_seed %>
  </p>
  <p>Used Batch_id: 
  <%= h @user.batch_id %>
  </p>
   <p>Opinion Leader: 
   <%= h @user.leader_text %>
   </p>
   <p> Seen person:
 <%= h displayed_person %>
   </p>
   <p>User gets to see an at message:
   <%= h @user.seen_at %>
   </p>
   <p> User gets to see a retweet of message1: 
   <%= h @user.seen_retweet_message1%>
   </p>
   <p> User gets to see multiple messages: 
   <%= h @user.seen_multiple_messages %>
   </p>
   <p> User gets to see the following message1: 
    <%= h @user.seen_message_1 %>
   </p>
   <p> User gets to see the following message2: 
     <%= h @user.seen_message_2 %>
    </p>