<td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Radio
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 5 %></td>