
<!--
<div
     onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "experiment_time"}) %>"
     onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "experiment_time"}) %>"
>
-->
     
 <TABLE width="100%">
    <TR>    
      <TD ALIGN="LEFT" nowrap>
        <h2>Part IX: Twitter Simulation</h2>    
      </TD>        
      <TD ALIGN="RIGHT" width=400px >
9/11 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.84,true,true) %>
      </TD>  
    </TR>
  </TABLE>
  
  <div id="seite_plane">
    <div id="left_twitter"></div>  
    <!--Mittlere Twitterseite-->
    <div id="seite_twitter">
      <%= render "leiste_oben", :f => f  %>
      <%= render "leiste_links", :f => f  %>
      <!--In der Message werden die Tweets Angezeigt -->      
      <%= render "message_box", :f => f  %>
      <!--<%= render "end_of_tweets"  %>-->
      <!--Layer über der Twitterseite-->
      
      <div id="user_details">
        <% if !@user.account_name.nil? %>
        <div id="account_name"><b><%=h @user.account_name%></b></div>
        <% end %>
        <div id="number_messages"><b>
          <% if !@user.number_messages.nil? %>
            <div id="n1"><%=h @user.number_messages%></div>
          <% end %>
          <% if !@user.number_followeees.nil? %>
            <div id="n2"><%=h @user.number_followeees%></div>
          <% end %>
          <% if !@user.number_followers.nil? %>
            <div id="n3"><%=h @user.number_followers%></div>
          <% end %>
        </b></div>
      
    
  
  
      </div>
<script type="text/javascript">                                 
                      //<![CDATA[
document.observe("dom:loaded",function(){
alert('Please remember! \n \n THIS IS A SIMULATION.\n \n None of your actions will be transmitted to your Twitter account.\n \n PLEASE ACT AS IF YOU WERE ON TWITTER. \n \n Tip: \n  Sometimes the simulation can be a little bit slowly. If nothing happens after a click please wait a second before you click again. \n \n Thank you for your support and patience.')});

 //]]>
                      </script>
    </div>

    <div id="right_twitter"></div>
  </div>
  
  <!--Gesamter Twitter Screen-->
  
  <div id="tweet_sent" style="display: none;">Your Tweet has been sent!</div>
  <div id="new_tweet_seite" style="display: none;">
    <%= render "new_tweet_seite", :f => f  %>
  </div>
  <div id="reply_seite" style="display: none;">
    <%= render "reply_seite", :f => f  %> 
  </div>
  <div id="reply_seite2" style="display: none;">
    <%= render "reply_seite2", :f => f  %> 
  </div>
  
</div>
<div id="link_website" style="display: none;">
    <%= render "link_website", :f => f  %>
  </div>
<%=f.hidden_field :mousetracks, :value => "0" %>
<!--
</div>
-->

<!--Über Buttons-->
<div id="hinweis_back">If you press 'Back', all your actions within the Twitter simulation will be saved, but eventually not displayed anymore<p></p>
</div>
<div id="hinweis_continue">Please press only 'Continue', if you would like to close the Twitter simulation<p></p>
</div>
