<div
     onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "experiment_time"}) %>"
     onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "experiment_time"}) %>">
     <TABLE width="100%">
  <TR>    
    <TD ALIGN="LEFT" nowrap>
      <h2>Twitter Simulation</h2>    
    </TD>        
    <TD ALIGN="RIGHT" width=400px >
      <%= progress_bar("my_sixty_percent_progress_bar",0.80,true,true) %>
    </TD>  
  </TR>
</TABLE>
  
<div id="seite_plane">
    <div id="left_twitter"></div>
    
<!--Mittlere Twitterseite-->
    
    <div id="seite_twitter">

      <div id="connect_button">
            <%= link_to_remote image_tag('../images/connect_einzeln.png',
                :mouseover => '../images/connect_hover.png'),
                :url => {:action => "connect", :id => @user.id}
            %>
      </div>

      <div id="new_tweet"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => 'new_tweet_time'}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "new_tweet_time"}) %>"
      >
            <%= link_to_remote image_tag('../images/new_tweet_0.png',
                :mouseover => '../images/new_tweet.png'),
                :url => {:action => "new_tweet", :id => @user.id}
            %>
      </div>
    
      <div id="search_symbol"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "search_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "search_time"}) %>">
           <%= link_to_remote image_tag('../images/suchsymbol.png'),
                   :url => {:action => "suche", :id => @user.id}
               %>
      </div>

      <div id="search"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "search_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "search_time"}) %>">
   
           <%= f.text_area :search, :rows => 1, :cols => 20 , :class => "new-reply-text" %>
      </div>
      
      <div id="compose_tweet"
              onmouseover="<%= remote_function(:update => '', :url => {:action => :start_measure, :type => "new_tweet_time"}) %>"
              onmouseout="<%= remote_function(:update => '', :url => {:action => :end_measure, :type => "new_tweet_time"}) %>"
      >
            <%= link_to_remote image_tag('../images/compose_inactive.png',
                :mouseover => '../images/compose_mouseover.png'),
                :url => {:action => "compose_tweet", :id => @user.id}
            %>
      </div>

            
      <div id="message" style="display: none;">
        <%= render "message", :f => f  %>
      <div id="view_field" style="display: none;">
        <%= render "view_field", :f => f  %>
      <div id="end_of_tweets" style="display: none;">
        <%= render "end_of_tweets", :f => f  %>
      </div>
      </div>
      </div>

<!--Layer über der Twitterseite-->      
      
      <div id="expand_seite" style="display: none;">
        <%= render "expand_seite", :f => f  %>
      </div>
    
      <div id="expand_seite2" style="display: none;">
        <%= render "expand_seite2", :f => f  %>
      </div>
      
      <div id="compose_tweet_seite" style="display: none;">
        <%= render "compose_tweet_seite", :f => f  %> 
      </div>
      
      <div id="connect_seite" style="display: none;">
        <%= render "connect_seite", :f => f  %> 
      </div>
      
      
<!--Obere Leiste/ immer sichtbare Teile-->
    

    </div>
    
    <div id="right_twitter"></div>
    
  </div>
  
<!--Gesamter Twitter Screen-->
    <div id="tweet_sent" style="display: none;">Your Tweet has been sent!</div>
    
    <div id="request_retweet_intensity" style="display: none;">
      <%= render "request_retweet_intensity_seite", :f => f  %> 
    </div>

    <div id="new_tweet_seite" style="display: none;">
      <%= render "new_tweet_seite", :f => f  %>
      
    </div> 
   
    <div id="reply_seite" style="display: none;">
      <%= render "reply_seite", :f => f  %> 
    </div>
    
    <div id="reply_seite_at" style="display: none;">
      <%= render "reply_seite_at", :f => f  %> 
    </div>        


</div>

<!--Über Buttons-->

<div id="hinweis_back">If you press 'Back', all your actions within the Twitter simulation will be saved, but eventually not displayed anymore<p></p></div>
<div id="hinweis_continue">Please press only 'Continue', if you would like to close the Twitter simulation<p></p></div>
