<TABLE width="100%">
  <TR>    
    <TD ALIGN="LEFT" nowrap>
      <h2>Twitter Simulation</h2>    
    </TD>        
    <TD ALIGN="RIGHT" width=400px >
      <%= progress_bar("my_sixty_percent_progress_bar",0.80,true,true) %>
    </TD>  
  </TR>
</TABLE>
  
<div id="seite_plane">
  <div id="left_twitter"></div>
  <div id="seite_twitter">
    <div id="message" onMouseover="document.getElementById ('actions').style.display='table';" onMouseout="document.getElementById('actions').style.display='none';">
      <div id="tweeterer">
         <div id="tweeter_name"> <%=h @user.leader_text %> </div>
         <div id="tweeter_name_at">&nbsp;@<%=h @user.leader_text %></div>
      </div>
      <div id="actions">
        <div id="reply">
          Reply
        </div>
        <div id = "retweet">
          <%= link_to_remote image_tag('../images/retweet_einzeln.png',
               :mouseover => '../images/retweet_unterstrichen.png'),
                :url => {:action => "retweet", :id => @user.id}
          %>
        </div>
        <div id = "favorite">
          <%= link_to_remote image_tag('../images/favorite_einzeln.png',
              :mouseover => '../images/favorite_unterstrichen.png'),
              :url => {:action => "favorite", :id => @user.id}
          %>
        </div>
        <div id="open">
          Open
        </div>        
      </div>                
      <div id="tweet">
        <p>
          "My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there." 
        <p>
      </div>           
    </div>       
  </div>
  <div id="right_twitter" ></div>
</div>