
<p>
  <TABLE width="100%">
<TR>

<TD ALIGN="LEFT">
<h2>Part IV: Motivation for Twitter Usage</h2>

</TD>


<TD ALIGN="RIGHT">
  


            
4/13 parts: <%= progress_bar("my_sixty_percent_progress_bar",0.20,true,true) %>
            


</TD>

</TR>
</TABLE>

</p>
    

<hr>
<div id="motivation_step"></div>
  <p>
  <h3>Why do you use Twitter?<br></br>
  <i>Please rate your degree of agreement with each statement.</i>
  </h3>
  <table width="100%" class="hovertable">
        
    <tr style="text-align: center;" >
      <td ></td>
      <td align="left">
         Strongly disagree
      </td>
      <td colspan="3" align="center">
         Neither agree nor disagree
      </td>
      <td align="right">
         Strongly agree
      </td>
    </tr>
    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">-2</td>
      <td width="10%">-1</td>
      <td width="10%">0</td>
      <td width="10%">1</td>
      <td width="10%">2</td>
    </tr>
    
<tbody id="tbody1">
    <tr class="mot1" onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To pass time</td>
      <td style="text-align: center;">
        <%= f.radio_button :pass_time, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :pass_time, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :pass_time, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :pass_time, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :pass_time, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To entertain myself</td>
      <td style="text-align: center;">
        <%= f.radio_button :entertain_myself, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :entertain_myself, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :entertain_myself, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :entertain_myself, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :entertain_myself, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To occupy my time </td>
      <td style="text-align: center;">
        <%= f.radio_button :occupy_time, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :occupy_time, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :occupy_time, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :occupy_time, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :occupy_time, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To spend time when I am bored </td>
      <td style="text-align: center;">
        <%= f.radio_button :time_bored, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :time_bored, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :time_bored, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :time_bored, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :time_bored, 5 %></td>
    </tr>
    
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
        To forget my worries </td>
      <td style="text-align: center;">
        <%= f.radio_button :forget_worries, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :forget_worries, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :forget_worries, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :forget_worries, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :forget_worries, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To help others</td>
      <td style="text-align: center;">
        <%= f.radio_button :help_others, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :help_others, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :help_others, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :help_others, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :help_others, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To provide support to others</td>
      <td style="text-align: center;">
        <%= f.radio_button :support_others, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :support_others, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :support_others, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :support_others, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :support_others, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To show others encouragement</td>
      <td style="text-align: center;">
        <%= f.radio_button :show_encouragement, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_encouragement, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_encouragement, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_encouragement, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_encouragement, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
       To contribute to discussions</td>
      <td style="text-align: center;">
        <%= f.radio_button :contribute, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contribute, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contribute, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contribute, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contribute, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To make new friends with similar interests </td>
      <td style="text-align: center;">
        <%= f.radio_button :new_friends, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_friends, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_friends, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_friends, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_friends, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To meet new people with similar interests</td>
      <td style="text-align: center;">
        <%= f.radio_button :new_people, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_people, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_people, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_people, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :new_people, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To get to know other people</td>
      <td style="text-align: center;">
        <%= f.radio_button :get_know_other, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :get_know_other, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :get_know_other, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :get_know_other, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :get_know_other, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To keep in touch with people I have met through Twitter </td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_in_touch, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_in_touch, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_in_touch, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_in_touch, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_in_touch, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To find people like me</td>
      <td style="text-align: center;">
        <%= f.radio_button :find_people, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_people, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_people, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_people, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_people, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
       To communicate with like-minded people </td>
      <td style="text-align: center;">
        <%= f.radio_button :communicate, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :communicate, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :communicate, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :communicate, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :communicate, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To gather information</td>
      <td style="text-align: center;">
        <%= f.radio_button :gather_information, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :gather_information, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :gather_information, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :gather_information, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :gather_information, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To find out things that I need to know </td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out_things, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out_things, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out_things, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out_things, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out_things, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To look for information I need </td>
      <td style="text-align: center;">
        <%= f.radio_button :look_for_information, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :look_for_information, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :look_for_information, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :look_for_information, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :look_for_information, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To talk to a knowledgeable individual about political topics</td>
      <td style="text-align: center;">
        <%= f.radio_button :knowledgeable_individual, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :knowledgeable_individual, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :knowledgeable_individual, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :knowledgeable_individual, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :knowledgeable_individual, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">   
      <td>
       To get answers to specific questions </td>
      <td style="text-align: center;">
        <%= f.radio_button :answers_questions, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :answers_questions, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :answers_questions, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :answers_questions, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :answers_questions, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To keep connect with people who I otherwise would have lost contact with  </td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_connect, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_connect, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_connect, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_connect, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :keep_connect, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
        To find out what old friends are doing now </td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :find_out, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
       To deepen relationships with people that I have met offline</td>
      <td style="text-align: center;">
        <%= f.radio_button :deepen_relationships, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :deepen_relationships, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :deepen_relationships, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :deepen_relationships, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :deepen_relationships, 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      To keep in touch with people who live far away</td>
      <td style="text-align: center;">
        <%= f.radio_button :far_away , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :far_away , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :far_away , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :far_away , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :far_away , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To express my feelings, attitudes and beliefs
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :express_feelings , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :express_feelings , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :express_feelings , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :express_feelings , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :express_feelings , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To spread ideas which I believe
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :spread_ideas , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :spread_ideas , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :spread_ideas , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :spread_ideas , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :spread_ideas , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To argue for ideas which I believe 
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :argue_ideas , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :argue_ideas , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :argue_ideas , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :argue_ideas , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :argue_ideas , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To impress others
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :impress_others , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :impress_others , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :impress_others , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :impress_others , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :impress_others , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To entertain others
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :enteratain_others , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :enteratain_others , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :enteratain_others , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :enteratain_others , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :enteratain_others , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To inform others
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :inform_others , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :inform_others , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :inform_others , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :inform_others , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :inform_others , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To be in the center of attention
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :center_of_attention , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :center_of_attention , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :center_of_attention , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :center_of_attention , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :center_of_attention , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To be someone else
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :someone_else , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :someone_else , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :someone_else , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :someone_else , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :someone_else , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To show my competence 
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :show_competence , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_competence , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_competence , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_competence , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_competence , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To show my interest in a topic
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :show_interest , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_interest , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_interest , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_interest , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :show_interest , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>Because others expect me to be on Twitter
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :others_expectation , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :others_expectation , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :others_expectation , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :others_expectation , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :others_expectation , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To please others
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :please_others , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :please_others , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :please_others , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :please_others , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :please_others , 5 %></td>
    </tr>
    
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>To cover up my feelings 
      </td>
      <td style="text-align: center;">
        <%= f.radio_button :cover_up_feelings , 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cover_up_feelings , 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cover_up_feelings , 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cover_up_feelings , 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :cover_up_feelings , 5 %></td>
    </tr>
    
    </tbody>
    </p>
  </table>
  <hr>
  <p></p>