<h4>Could you specify: How important is each of the following when you need information on a topic related to political news <u>quickly</u>?</h4>
  <table width="100%" class="hovertable">

    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>


    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Blogs
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :blogs, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :blogs, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :blogs, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :blogs, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :blogs, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Search engines
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :search_engine, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :search_engine, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :search_engine, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :search_engine, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :search_engine, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Goverment sites
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :goverment_site, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :goverment_site, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :goverment_site, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :goverment_site, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :goverment_site, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td>
         Community sites
      </td>
      <td style="text-align: center;">
         <%= f.radio_button :community_site, 1 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :community_site, 2 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :community_site, 3 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :community_site, 4 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :community_site, 5 %></td>
 
    </tr>
  </table>
  <p></p>