<h4>Could you specify: How important is each of the <u>traditional mass media channels offline</u> when you need information on a topic related to political news <u>quickly</u>?</h4>
  <table width="100%" class="hovertable">

    <tr style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>


    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Television
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :tv, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :tv, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :tv, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :tv, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :tv, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Radio
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :radio, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
         Magazines
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :magazin, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :magazin, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :magazin, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :magazin, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :magazin, 5 %></td>
 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td>
         Newspaper
      </td>
      <td style="text-align: center;">
         <%= f.radio_button :newspaper, 1 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :newspaper, 2 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :newspaper, 3 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :newspaper, 4 %></td>
      <td style="text-align: center;">
         <%= f.radio_button :newspaper, 5 %></td>
 
    </tr>
  </table>
  <p></p>