<h4>Could you specify: How important is each of the <u>personal contacts</u> when you need information on a topic related to political news <u>quickly</u>?</h4>
<i>Tip: When you would like to answer 'Not important' for a whole section (e.g., Friends), click on the hide link at the top of the section. All values will be automatically set to 'Not important' and disappear.
To undo this action, you can click on the link that appears.</i>
  <table width="100%" class="hovertable">

    <tr id="people_interested_scale" style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
    
    <tr id="people_interested_online">
      <td colspan="6"><b><i>People who are interested in the same topic:</i></b> <a id="people_interested_online_flip" href="#" onClick="flipTable2('people_interested'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="people_interested_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact people with same intrests via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_email, 5 %></td>
    </tr>
    
    <tr id="people_interested_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact people with same intrests on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_sn, 5 %></td>
    </tr>
    
    <tr id="people_interested_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact people with same intrests on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_mb, 5 %></td>
    </tr>
    
    <tr id="people_interested_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact people with same intrests on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_forum, 5 %></td>
    </tr>
  
    <tr id="people_interested_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact people with same intrests via chat</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_chat, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_chat, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_chat, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_chat, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_chat, 5 %></td>
    </tr>
    
    <tr id="people_interested_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact people with same intrests via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :people_interested_phone, 5 %></td>
    </tr>
    
    <tr id="people_interested_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to people with same intrests face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :people_interested, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :people_interested, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :people_interested, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :people_interested, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :people_interested, 5 %></td>
    </tr>
    
    <tr id="locals_scale" style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
        
     <tr id="locals_online">
      <td colspan="6"><b><i>Locals and eyewitnesses:</i></b> <a id="locals_online_flip" href="#" onClick="flipTable2('locals'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="locals_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact locals and eyewitnesses via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_email, 5 %></td>
    </tr>
    
    <tr id="locals_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact locals and eyewitnesses on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_sn, 5 %></td>
    </tr>
    
    <tr id="locals_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact locals and eyewitnesses on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_mb, 5 %></td>
    </tr>
    <tr id="locals_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact locals and eyewitnesses on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_forum, 5 %></td>
    </tr>
  
    <tr id="locals_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact locals and eyewitnesses via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :locals_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :locals_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :locals_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :locals_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :locals_chat, 5 %></td>
    </tr>
    
    <tr id="locals_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact locals and eyewitnesses via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :locals_phone, 5 %></td>
    </tr>
    
    <tr id="locals_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to locals and eyewitnesses face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :locals, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :locals, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :locals, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :locals, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :locals, 5 %></td>
    </tr>
    <tr id='aquaintances_scale' style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
    <tr id="aquaintances_online">
      <td colspan="6"><b><i>Aquaintances:</i></b> <a id="aquaintances_online_flip" href="#" onClick="flipTable2('aquaintances'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="aquaintances_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact aquaintances via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_email, 5 %></td>
    </tr>
    
    <tr id="aquaintances_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact aquaintances on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_sn, 5 %></td>
    </tr>
    
    <tr id="aquaintances_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact aquaintances on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_mb, 5 %></td>
    </tr>
<tr id="aquaintances_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact aquaintances on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_forum, 5 %></td>
    </tr>
  
    <tr id="aquaintances_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact aquaintances via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :aquaintances_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :aquaintances_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :aquaintances_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :aquaintances_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :aquaintances_chat, 5 %></td>
    </tr>
    
    <tr id="aquaintances_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact aquaintances via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :aquaintances_phone, 5 %></td>
    </tr>
    
    <tr id="aquaintances_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to aquaintances face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :aquaintances, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :aquaintances, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :aquaintances, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :aquaintances, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :aquaintances, 5 %></td>
    </tr>
    
    <tr id='contact_friends_scale' style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
     <tr id="contact_friends_online">
      <td colspan="6"><b><i>Friends:</i></b> <a id="contact_friends_online_flip" href="#" onClick="flipTable2('contact_friends'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="contact_friends_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact friends via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_email, 5 %></td>
    </tr>
    
    <tr id="contact_friends_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact friends on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_sn, 5 %></td>
    </tr>
    
    <tr id="contact_friends_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact friends on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_mb, 5 %></td>
    </tr>
    <tr id="contact_friends_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact friends on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_forum, 5 %></td>
    </tr>
  
    <tr id="contact_friends_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact friends via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_friends_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_friends_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_friends_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_friends_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_friends_chat, 5 %></td>
    </tr>
    
    <tr id="contact_friends_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact friends via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_friends_phone, 5 %></td>
    </tr>
    
    <tr id="contact_friends_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to friends face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_friends, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_friends, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_friends, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_friends, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_friends, 5 %></td>
    </tr>
    
    <tr id='colleagues_scale' style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
    <tr id="colleagues_online">
      <td colspan="6"><b><i>Colleagues:</i></b> <a id="colleagues_online_flip" href="#" onClick="flipTable2('colleagues'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="colleagues_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact colleagues via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_email, 5 %></td>
    </tr>
    
    <tr id="colleagues_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact colleagues on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_sn, 5 %></td>
    </tr>
    
    <tr id="colleagues_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact colleagues on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_mb, 5 %></td>
    </tr>
    <tr id="colleagues_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact colleagues on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_forum, 5 %></td>
    </tr>
  
    <tr id="colleagues_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact colleagues via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :colleagues_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :colleagues_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :colleagues_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :colleagues_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :colleagues_chat, 5 %></td>
    </tr>
    
    <tr id="colleagues_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact colleagues via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :colleagues_phone, 5 %></td>
    </tr>
    
    <tr id="colleagues_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to colleagues face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :colleagues, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :colleagues, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :colleagues, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :colleagues, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :colleagues, 5 %></td>
    </tr>
    
    <tr id='experts_scale' style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
    <tr id="experts_online">
      <td colspan="6"><b><i>Experts and specialists:</i></b> <a id="experts_online_flip" href="#" onClick="flipTable2('experts'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="experts_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact experts and specialists via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_email, 5 %></td>
    </tr>
    
    <tr id="experts_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact experts and specialists on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_sn, 5 %></td>
    </tr>
    
    <tr id="experts_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact experts and specialists on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_mb, 5 %></td>
    </tr>
    <tr id="experts_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact experts and specialists on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_forum, 5 %></td>
    </tr>
  
    <tr id="experts_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact experts and specialists via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :experts_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :experts_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :experts_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :experts_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :experts_chat, 5 %></td>
    </tr>
    
    <tr id="experts_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact experts and specialists via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :experts_phone, 5 %></td>
    </tr>
    
    <tr id="experts_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to experts and specialists face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :experts, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :experts, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :experts, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :experts, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :experts, 5 %></td>
    </tr>
    
    <tr id='contact_ol_scale' style="text-align: center;" >
      <td ></td>
      <td width="10%">Very</td>
      <td width="10%">Moderately</td>
      <td width="10%">Somewhat</td>
      <td width="10%">Not</td>
      <td width="10%">Don't know</td>
    </tr>
    <tr id="contact_ol_online">
      <td colspan="6"><b><i>Opinion leader of your community:</i></b> <a id="contact_ol_online_flip" href="#" onClick="flipTable2('contact_ol'); return false;" >Set all values in section to 'not important' and hide</a></td>
    </tr>
    <tr id="contact_ol_online0" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
       Contact the opinion leader of your community via e-mail</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_email, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_email, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_email, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_email, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_email, 5 %></td>
    </tr>
    
    <tr id="contact_ol_online1" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact the opinion leader of your community on social online networks such as Facebook</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_sn, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_sn, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_sn, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_sn, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_sn, 5 %></td>
    </tr>
    
    <tr id="contact_ol_online2" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact the opinion leader of your community on microblogs such as Twitter</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_mb, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_mb, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_mb, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_mb, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_mb, 5 %></td>
    </tr>
    <tr id="contact_ol_online3" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact the opinion leader of your community on forums</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_forum, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_forum, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_forum, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_forum, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_forum, 5 %></td>
    </tr>
  
    <tr id="contact_ol_online4" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">  
      <td style="padding-left: 20px;">
        Contact the opinion leader of your community via chat</td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_ol_chat, 1 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_ol_chat, 2 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_ol_chat, 3 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_ol_chat, 4 %></td>
       <td style="text-align: center;">
        <%= f.radio_button :contact_ol_chat, 5 %></td>
    </tr>
    
    <tr id="contact_ol_online5" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="padding-left: 20px;">
        Contact the opinion leader of your community via phone</td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_phone, 1 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_phone, 2 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_phone, 3 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_phone, 4 %></td>
      <td style="text-align: center;">
        <%= f.radio_button :contact_ol_phone, 5 %></td>
    </tr>
    
    <tr id="contact_ol_online6" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#f2f2f2';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;padding-left: 20px;">
          Talk to the opinion leader of your community face-to-face
      </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_ol, 1 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_ol, 2 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_ol, 3 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_ol, 4 %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= f.radio_button :contact_ol, 5 %></td>
    </tr>
</p>
  </table> 
  <p></p>