<div id="retweet_zusatzfragen_field">

 <h3>What are the most important reasons for you to expand the Tweet.</h3>
  <h4>Please rank the following items by dragging them into the grey box below.<h4>
    <div >
      <div style="float: left;">
        <ul style="list-style-type: none; padding: 0px;">
          <li class="listnummern" >1.</li>
          <li class="listnummern" >2.</li>
          <li class="listnummern" >3.</li>
          <li class="listnummern" >4.</li>
          <li class="listnummern" >5.</li>
        </ul>
      </div>
      <div style="float: left;">     
	<ul class="sortabledemo" id="openlist" style="list-style-type: none;height: 177px; width: 327px; background-color: #f2f2f2; padding: 0px;">
          <% if @user.open_reasons != nil  %>
            <% @user.open_reasons.each do |reason| %>
              <li class="openlist_openlist" id="openlist_<%= reason %>">
              <% if reason.to_i == 5 %>
                <div class="handle" style="width: 320px;" align="left"><nobr>Other reasons: <%=f.text_field :open_reasons_others, :size => 25 %></nobr></div>
              <% else %>
              <div class="handle" style="width: 320px;"><%= OPEN_REASONS[reason.to_i]%></div>
              <% end %>
              </li>
            <% end %>
	  <%end%>
	</ul>
      </div>

      <div style="float: left;">
        <ul class="sortabledemo" id="dummylist2" style="list-style-type: none;height: 158px; width: 325px; padding: 0px; " >
          <% if @user.open_reasons == nil  %>
            <% dummy = [1,2,3,4,5] %>
              <% dummy.each do |reason| %>
              <li class="openlist_openlist" id="dummylist2_<%= reason %>">
                <% if reason.to_i == 5 %>
                <div class="handle" style="width: 320px;" align="left"><nobr>Other reasons: <%=f.text_field :open_reasons_others, :size => 25 %></nobr></div>
                <% else %>
                <div class="handle" style="width: 320px;"><%= OPEN_REASONS[reason.to_i]%></div>
                <% end %>
              </li>
              <% end %>
          <%else%>
          <% if !@user.open_reasons.include? "1" %>
          <li class="openlist_openlist" id="dummylist2_<%= 1 %>">
            <div class="handle" style="width: 320px;"><%= OPEN_REASONS[1]%></div>
          </li>
          <% end %>           
          <% if !@user.open_reasons.include? "2" %>
          <li class="openlist_openlist" id="dummylist2_<%= 2 %>">
            <div class="handle" style="width: 320px;"><%= OPEN_REASONS[2]%></div>
          </li>
          <% end %>
          <% if !@user.open_reasons.include? "3" %>
          <li class="openlist_openlist" id="dummylist2_<%= 3 %>">
            <div class="handle" style="width: 320px;"><%= OPEN_REASONS[3]%></div>
          </li>
          <% end %>
          <% if !@user.open_reasons.include? "4" %>
          <li class="openlist_openlist" id="dummylist2_<%= 4 %>">
            <div class="handle" style="width: 320px;"><%= OPEN_REASONS[4]%></div>
          </li>
        <% end %>
        <% if !@user.open_reasons.include? "5" %>
          <li class="openlist_openlist" id="dummylist2_<%= 5 %>">
          <div class="handle" style="width: 320px;"><nobr>Other reasons: <%=f.text_field :open_reasons_others, :size => 25 %></nobr></div>
          </li>
          <% end %>
          <% if @user.open_reasons.collect{|x| x.to_i}.sum >=  15 %>
            <li id="dummylist2_0" style="width: 320px;" > </li>
          <% end %>
          <% end %>
        </ul>  
      </div>
      <div style="float: left; width:320px; margin-left:20px; ">

      </div>
    </div>
    <%= sortable_element :openlist,
    :handle => 'handle',
    :dropOnEmpty => true,
    :containment =>["openlist","dummylist2"],
    :url => { :action => 'repeat2'}
    %>
    <%= sortable_element :dummylist2,
    :handle => 'handle',
    :url => { :action => 'repeat5'}
    %> <div style="clear: both;">
      <br><br>
    </div>