<h4>Could you specify: How important is each online channel of the traditional mass media when you need information on a topic related to political news <b>quickly</b>?</h4>
<br>
  <i>Tipp: You can hide rows or columns you are not interested in. All value in that row or column will be automatically set to "not interested".
  You can undo this option every time. All values of the row or column will be set back to choose option again.</i><br></br>
  
  <table  class="hovertable">

    <tr style="text-align: center;" >
      <td ></td>
      <td id="tv_undo" style="display: none;"><a href="#" onClick="showTabletv('Inactive');">Display Television options</a></td>
      <td id="tv" >Television <a href="#" onClick="showTabletv('Inactive');"<%= col1_to_ni %>>Hide</a></td>
      <td id="radio_undo" style="display: none;"><a href="#" onClick="showTableradio('Inactive');">Display Radio options</a></td>
      <td id="radio" >Radio <a href="#" onClick="showTableradio('Inactive');"<%= col2_to_ni %>>Hide</a></td>
      <td id="magazin_undo" style="display: none;"><a href="#" onClick="showTablemagazin('Inactive');">Display Magazin options</a></td>
      <td id="magazin" >Magazines <a href="#" onClick="showTablemagazin('Inactive');"<%= col3_to_ni %>>Hide</a></td>
      <td >Newspaper</td>

    </tr>

    <tr id="undo_website" style="display:none;">
      <td><a href="#" onClick="showTable('Inactive');">Display website options</a></td>
      <td id="tv_undo_iv" style="display: none;"></td>
      <td id="tv_iv"></td>
      <td id="radio_undo_iv" style="display: none;"></td>
      <td id="radio_iv"></td>
      <td id="magazin_undo_iv" style="display: none;"></td>
      <td id="magazin_iv"></td>
      <td></td>
    </tr>
    
    
    <tr id="websites" onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
        Websites<br>
        <a href="#" onClick="showTable('Inactive');"<%= row1_to_ni %>>Hide</a>
      </td>
      <td id="tv_undo0" style="display: none;"></td>
      <td id="tv0" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %> </td>
      <td id="radio_undo0" style="display: none;"></td>
      <td id="radio0" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
        <%= select(:user, :employment, INTERESTSCALE)  %> </td>
      <td id="magazin_undo0" style="display: none;"></td>
      <td id="magazin0" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %> </td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %> </td>

 
    </tr>
    <tr id="sn" onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
      Mediaoutlets in social networks     <br>
      <a href="#" onClick="showTablesn('Inactive');"<%= row2_to_ni %>>Hide</a>
      </td>
     <td id="tv_undo1" style="display: none;"></td>
      <td id="tv1" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="radio_undo1" style="display: none;"></td>
      <td id="radio1" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="magazin_undo1" style="display: none;"></td>
      <td id="magazin1" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>

 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
      Mediaoutlets in microblogs
      </td>
     <td id="tv_undo2" style="display: none;"></td>
      <td id="tv2" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="radio_undo2" style="display: none;"></td>
      <td id="radio2" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="magazin_undo2" style="display: none;"></td>
      <td id="magazin2" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>

 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed;">
      Rss feeds
      </td>
     <td id="tv_undo3" style="display: none;"></td>
      <td id="tv3" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="radio_undo3" style="display: none;"></td>
      <td id="radio3" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="magazin_undo3" style="display: none;"></td>
      <td id="magazin3" style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td style="border-color: grey; border-width: thin; border-bottom-style: dashed; text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>

 
    </tr>
    <tr onmouseover="this.style.backgroundColor='#f2f2f2';" onmouseout="this.style.backgroundColor='#ffffff';">
      <td>
      Newsletters 
      </td>
      <td id="tv_undo4" style="display: none;"></td>
      <td id="tv4" style="text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="radio_undo4" style="display: none;"></td>
      <td id="radio4" style="text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td id="magazin_undo4" style="display: none;"></td>
      <td id="magazin4" style="text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>
      <td style="text-align: center;">
         <%= select(:user, :employment, INTERESTSCALE)  %></td>

 
    </tr>
    
  </table>
  <p></p>