 <div id="seite_website_plane">
  <div id="left_website"></div>  
  <!--Mittlere Twitterseite-->
  
<div id="website_field" >
  <div id="time_link">
    <%= Time.now.strftime("%I:%M %p - %d %b %y") %>
  </div>
 <div id="Nachricht" style="float: left; width: 687px;">
 <h1><%= @user.seen_headline %></h1>
<div id="Nachrichtentext"><%= @user.seen_message_long %></div>
  <div id="Related_topics"  style="float: right; width: 200px;">
  <h4>Related Searches: </h4>
  <ul>
    <li>Ministry of Defence <%=COUNTRIES[@user.country][0]%></li>
    <li>Minister of foreign affairs <%=COUNTRIES[@user.country][0]%></li>
    <li>Politics</li>
    <li>Bribery Act 2010</li>
    <li>OECD Anti-Bribery Convention</li>
    <li><%=MINISTERSLONG[@user.country-1][0].split(',')%></li>
    <li>Corruption Foreign Ministers</li>
    <li>Minister of defence dismissed</li>
    <li>Minister of foreign affairs accused</li>
    <li>Corruption</li>
    <li>Lockheed bribery scandals</li>
    <li>Airbus affair</li>
    <li>Foreign Corrupt Practices Act</li>
    
    
  </ul>
 </div>
<div style="clear: both;">
    </div>
 <div id="Kasten">
    <b>Post Published: </b> <%= Time.now.strftime("%I:%M %p - %d %b %y") %><br>
    <b>Author: </b>Independend News Blog <br>
    <b>Section: </b>Politics <br>
    <br>
    <b>Tags: </b>corruption, bribery, politics, scandal
    
 </div>
<!-- <div id="Back_to_twitter">
 <div id="text_back_to_twitter"> <b>To return to the Twitter Simulation please click on the button below:</b></div>
 <br> 
<!-- <div id="bild_back_to_twitter" ><%= link_to_remote image_tag('../images/back_to_twitter.png',
                               :mouseover => '../images/back_to_twitter_unterstrichen.png'),
                :url => {:action => "close", :id => @user.id}
          %></div> -->
</div>




<div id="close_website">
  <%= button_to 'Back to Twitter simulation', :back %>
 
</div>
</div>

<!--<div id="close_link">
          <%= link_to_remote image_tag('../images/close.png'),
                :url => {:action => "close", :id => @user.id}
          %><%= button_to_function "Back to Twitter simulation", remote_function(:url => {:action => "close", :id => @user.id}) %> 
</div>-->

<div id="right_twitter"></div>
  </div>